@import "theme";

.model-avatar {
  max-height: 200%;
  width: 200px
}

.module-avatar {
  height: 200px;
}

.module-history-img {
  max-width: 700px;
  max-height: 500px;
}

.approved-titlt {
color: #961648;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 560px;
  height: 550px;
}

.comments-list {
  md-list-item {
    margin: 0 !important;
    &.answered {
      background: rgba(107, 107, 107, 0.54);
      h3, p {
        font-weight: bold !important;
      }
    }
    &.approved {
      background: rgba(9, 12, 255, 0.56);
      h3, p {
        font-weight: bold !important;
      }
    }
  }
}

.orders-list {
  md-list-item {
    margin: 0 !important;
    &.answered {
      background: rgba(107, 107, 107, 0.54);
      h3, p {
        font-weight: bold !important;
      }
    }
    &.approved {
      background: rgba(9, 12, 255, 0.56);
      h3, p {
        font-weight: bold !important;
      }
    }
  }
}

.models-item {
  min-width: 620px
}

.avatar {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
  flex: none;
  width: 40px;
  height: 40px;
}

.navigator_default_todaybox {
  margin-left: 10px;
}

.navigator_default_select {
  background: rgba(9, 12, 255, 0.56);
}