@import "theme";

.model-avatar {
  max-height: 200%;
  width: 200px
}

.module-avatar {
  height: 200px;
}

.module-history-img {
  max-width: 700px;
  max-height: 500px;
}

.approved-titlt {
  color: #961648;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 560px;
  height: 550px;
}

.comments-list {
  md-list-item {
    margin: 0 !important;
    &.answered {
      background: rgba(107, 107, 107, 0.54);
      h3, p {
        font-weight: bold !important;
      }
    }
    &.approved {
      background: rgba(9, 12, 255, 0.56);
      h3, p {
        font-weight: bold !important;
      }
    }
  }
}

.orders-list {
  md-list-item {
    margin: 0 !important;
    &.answered {
      background: rgba(107, 107, 107, 0.54);
      h3, p {
        font-weight: bold !important;
      }
    }
    &.approved {
      background: rgba(9, 12, 255, 0.56);
      h3, p {
        font-weight: bold !important;
      }
    }
    &.bay {
      color: rgba(white, 0.7) !important;;
      background: rgba(8, 8, 131, 0.94);
      h3, p {
        font-weight: bold !important;
        color: rgba(white, 0.7) !important;;
      }
    }

  }
}

.models-item {
  min-width: 620px
}

.avatar {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
  flex: none;
  width: 40px;
  height: 40px;
}

.navigator_default_todaybox {
  margin-left: 10px;
}

.navigator_default_select {
  background: rgba(9, 12, 255, 0.56);
}

.pg-left-sidenav {
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  button {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 8px 0 8px 20px;
  }

  .pg-subitem {
    padding-left: 40px;
  }

  .active {
    background-color: rgba(158, 158, 158, 0.2);
  }
}

pg-admin-paging {
  button.md-button {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
