@import "theme";

$shadow-social: 0 1px 3px 0 rgba(white, .2), 0 1px 1px 0 rgba(white, .14), 0 2px 1px -1px rgba(white, .12) !default;
$shadow-social-active: 0 3px 5px 0 rgba(white, .2), 0 3px 3px 0 rgba(white, .14), 0 4px 3px -3px rgba(white, .12) !default;
@font-face {
  font-family: 'microsquare'; /* Гарнитура шрифта */
  src: url('../fonts/ufonts.com_microsquare-ex-regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: OpenSands; /* Гарнитура шрифта */
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600&subset=cyrillic-ext,latin-ext'); /* Путь к файлу со шрифтом */
}

body {
  min-width: 212px;
  font-size: 14px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-weight: lighter;

  @media (min-width: $layout-breakpoint-md) {
    font-size: 13px;

  }
}
html{ background-color: white;}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





.overlay {

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;

}

.container-wrapper {
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

card-image-container {
  overflow: hidden;
  cursor: pointer;
}

.fit-screen-wrap {

  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

md-input-container .md-input-messages-animation {
  max-width: 300px;
}

///common card
md-card.md-default-theme, md-card {
  z-index: 3;
  padding: 0;
  margin: 20px;
  @media (max-width: $layout-breakpoint-xs) {
    margin-left: 0px;
    margin-right: 0px;
  }

  md-card-content {
    overflow: hidden;
    padding: 0;

    md-card-title-text {
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0;

    img {
      position: absolute;
      top: 0%;
      left: 0%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;

    }
  }
}

.md-card-image {
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.5s;
  }
}

.description-container {
  background-color: white;
}
/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-tabs .md-tab.md-active {
  color: $primary
}

md-tabs md-ink-bar {
  color: $primary;
  background-color: $primary
}


md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  background-color: rgba($primary, 0.8);
}




.embed-responsive-item {
  position: absolute;
  margin-top: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}