@import "theme";
@import "../../node_modules/angular-material/modules/scss/angular-material";

$shadow-social: 0 1px 3px 0 rgba(white, .2), 0 1px 1px 0 rgba(white, .14), 0 2px 1px -1px rgba(white, .12) !default;
$shadow-social-active: 0 3px 5px 0 rgba(white, .2), 0 3px 3px 0 rgba(white, .14), 0 4px 3px -3px rgba(white, .12) !default;
@font-face {
  font-family: 'microsquare';
  src: url('../fonts/ufonts.com_microsquare-ex-regular.ttf');
}

@font-face {
  font-family: OpenSands;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600&subset=cyrillic-ext,latin-ext');
}

body {
  min-width: 212px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;

  @media (min-width: $layout-breakpoint-md) {
    font-size: 13px;

  }
}

html {
  background-color: white;
}

:focus {
  outline: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container-wrapper {
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

.fit-screen-wrap {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

///common card
md-card.md-default-theme, md-card {
  z-index: 3;
  padding: 0;
  margin: 20px;

  @media (max-width: $layout-breakpoint-xs) {
    margin-left: 0px;
    margin-right: 0px;
  }

  md-card-content {
    overflow: hidden;
    padding: 0;

    md-card-title-text {
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0;

    img {
      position: absolute;
      top: 0%;
      left: 0%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;

    }
  }
}

.description-container {
  background-color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-delimiter {
  position: relative;
  display: table;
  width: 100%;
  color: white;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;

  .fit-screen-wrap {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
  }
  .header {
    height: 150px;

  }
  .header-super {
    height: 350px;

  }
  .header-long {
    height: 500px;

  }
  .invers {
    background-color: white;
    color: black;
  }

  .overlay {
    z-index: 1;

  }

  .overlay-days {
    @extend .overlay;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);

    @media (min-height: 1286px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_full.jpg") no-repeat center center fixed;
    }
    @media (min-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_full.jpg") no-repeat center center fixed;
    }

    @media (max-height: 1286px) and (max-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_1923_1282.jpg") no-repeat center center fixed;
    }

    @media (max-height: 1026px) and (max-width: 1539px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_1539_1026.jpg") no-repeat center center fixed;
    }
    @media (max-height: 802px) and (max-width: 1203px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_1203_802.jpg") no-repeat center center fixed;
    }
    @media (max-height: 642px) and (max-width: 963px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_963_642.jpg") no-repeat center center fixed;
    }

    @media (max-height: 400px) and (max-width: 723px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/dates/IMG_7095_723_482.jpg") no-repeat center center fixed;
    }

  }
  .overlay-comments {
    @extend .overlay;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    @media (min-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_full.jpg") no-repeat center center fixed;
    }

    @media (min-height: 1286px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_full.jpg") no-repeat center center fixed;
    }

    @media (max-height: 1286px) and (max-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_1923_1282.jpg") no-repeat center center fixed;
    }

    @media (max-height: 1024px) and (max-width: 1536px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_1536_1024.jpg") no-repeat center center fixed;
    }

    @media (max-height: 800px) and (max-width: 1200px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_1200_800.jpg") no-repeat center center fixed;
    }

    @media (max-height: 640px) and (max-width: 960px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_960_640.jpg") no-repeat center center fixed;
    }
    @media (max-height: 400px) and (max-width: 720px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/comments/IMG_6790_720_480.jpg") no-repeat center center fixed;
    }

  }

  .overlay-description {
    @extend .overlay;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    @media (min-height: 1286px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_full.jpg") no-repeat center center fixed;
    }
    @media (min-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_full.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1286px) and (max-width: 1923px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_1923_1282.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1026px) and (max-width: 1539px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_1539_1026.jpg") no-repeat center center fixed;
    }

    @media (max-height: 802px) and (max-width: 1203px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_1203_802.jpg") no-repeat center center fixed;
    }

    @media (max-height: 642px) and (max-width: 963px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_963_642.jpg") no-repeat center center fixed;
    }

    @media (max-height: 400px) and (max-width: 723px) {
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/courses/description/IMG_6914_723_482.jpg") no-repeat center center fixed;
    }

  }

}

.order-picker-container {
  position: relative;
  height: 50px;

  .order-date-picker {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 16px;
    left: -5px;
    right: 0;

    .md-button.md-icon-button {
      margin: 0 !important;
      padding-bottom: 0px;
      top: -1px;
    }
    .md-button.md-icon-button.md-datepicker-triangle-button {
      top: 0px;
      right: 13px;
      z-index: 10;
    }
    md-datepicker {
      right: 25px
    }
    .md-datepicker-input-container.md-datepicker-focused {
      border-bottom-color: $primary !important;
    }
    .md-datepicker-input-container {
      width: 90%;
      margin-left: 0px;

    }

    .md-datepicker-input {
      width: 100%;
    }
  }
}

.reduce-bottom-margin {
  margin-bottom: 0;
}

.navigator_default_todaybox {
  border: none !important;
}

@media (min-width: $layout-breakpoint-md) {

  .md-card-image {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.3s;
    }
  }

}

.card-desc-top-master {
  background: rgba($primary, 0.8);
  color: white;
  letter-spacing: 4px;
}

.box {
  position: relative;

}

.corner-ribbon {
  width: 200px;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon-min {
  width: 175px;
  position: absolute;

  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 33px;

  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.black {
  background: #222;
}

.grey {
  background: #888;
}

.white {
  background: #f0f0f0;
  color: $primary;
}

.brends-container {

  padding: 0;
  margin: 0 0 20px 0;
  .brend {
    position: relative;
    display: block;
    transition: top 0.3s linear;
    top: 0px;
    overflow: hidden;

    &:hover {
      @extend .md-whiteframe-12dp;
      transition: top 0.3s linear;
      top: -3px;
    }

    img {

      max-width: 100%;
      overflow: hidden;

    }
    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }

}