.md-no-animations,
md-dialog.md-transition-in,
md-dialog.md-transition-out {
  -webkit-transform: none !important;
  transform: none !important;
}

md-dialog {
  min-width: 200px;
}

md-input-container .md-input-messages-animation {
  max-width: 300px;
}

.courses {
  box-sizing: border-box;
  height: 100%;

  img {
    max-width: 100%;
  }

  card-image-container {
    display: block;
    overflow: hidden;
  }

  .md-card-image {
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.2, 1.2);
      transition: transform 0.5s;
    }
  }

  md-card {
    position: relative;
    display: block;
    md-card-content {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 20%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    // Custom setting since ngMaterial 1.0.0 only
    // supports percentage increments of 5
    // 4-column Table, except Row 1 to be 2-Columns

    @media (min-width: 1280px) and (max-width: 1930px) {
      // Custom setting since ngMaterial 1.0.0 only
      // supports percentage increments of 5
      // 2-column table
      &.flex-gt-md-22 {
        // max-width: 24% !important;
        // Disable to all varying sizes in Cards
        max-height: 100%;
        box-sizing: border-box;
        flex: 3 25%;
      }
      &:first-child, &:nth-child(2) {
        flex: 3 25%;
      }
    }

    @media (min-width: 600px) and (max-width: 1279px) {
      // Custom setting since ngMaterial 1.0.0 only
      // supports percentage increments of 5
      // 2-column table
      &.flex-gt-sm-46 {
        // max-width: 24% !important;
        // Disable to all varying sizes in Cards
        max-height: 100%;
        box-sizing: border-box;
        flex: 2 46%;
      }
      &:first-child, &:nth-child(2) {
        flex: 2 46%;
      }
    }

    // Need this for specificity to override defaults
    // 1-column Table
    @media (max-width: 599px) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }

  }
}

.course-inner{ md-card md-card-content {
  color:white;
  height: 5%;

}}

.courses-history {
  box-sizing: border-box;
  height: 100%;

  img {
    max-width: 100%;
  }

  md-card {
    position: relative;
    display: block;
    md-card-content {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 10%;
      color:white;
      background-color: rgba(0, 0, 0, 0.7);
    }
    // Custom setting since ngMaterial 1.0.0 only
    // supports percentage increments of 5
    // 4-column Table, except Row 1 to be 2-Columns

    @media (min-width: 1280px) and (max-width: 1930px) {
      // Custom setting since ngMaterial 1.0.0 only
      // supports percentage increments of 5
      // 2-column table
      &.flex-gt-md-22 {
        // max-width: 24% !important;
        // Disable to all varying sizes in Cards
        max-height: 100%;
        box-sizing: border-box;
        flex: 2 46%;
      }
      &:first-child, &:nth-child(2) {
        flex: 2 46%;
      }
    }
    @media (min-width: 600px) and (max-width: 1930px) {
      // Custom setting since ngMaterial 1.0.0 only
      // supports percentage increments of 5
      // 2-column table
      &.flex-gt-sm-46 {
        // max-width: 24% !important;
        // Disable to all varying sizes in Cards
        max-height: 100%;
        box-sizing: border-box;
        flex: 2 46%;
      }
      &:first-child, &:nth-child(2) {
        flex: 2 46%;
      }
    }

    // Need this for specificity to override defaults
    // 1-column Table
    @media (max-width: 599px) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }

  }
}

.bgImageContainer {
  background-image: url('/content/images/palamar_logo_big.jpg');
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;

  display: block;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  top: 80px;
  bottom: 80px;
  z-index: 2;
  position: relative;

}

footer {
  z-index: 3;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color:white;
  background-color: rgba(0, 0, 0, 0.9);
}

header {
  z-index: 3;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color:white;
  background-color: rgba(0, 0, 0, 0.8);
}