@import "theme";

.courses-details {

  .top-info {
    padding: 20px 0;
    @media (max-width: $layout-breakpoint-xs) {
      padding: 10px 0;
    }
    md-card.md-default-theme, md-card {
      max-width: 1000px;
      z-index: 3;
      padding: 0;
      margin-left: 0px;
      margin-right: 0px;
      vertical-align: middle;

      @media (min-width: $layout-breakpoint-md) {
        max-height: 500px;
        &.flex-gt-md-60 {
          max-width: 1000px;
        }
      }

      @media (max-width: $layout-breakpoint-xs) {
        width: 300px;
      }

      @media (max-width: $layout-breakpoint-sm) {
        max-width: 500px;
      }

      .card-desc-top {
        background: rgba($primary, 0.8);
        color: white;
      }

      .card-desc {
        background: white;
        min-width: 200px;
        max-height: 500px;
        width: 100%;
        z-index: 2;
        vertical-align: middle;
        text-align: center;
        @media (max-width: $layout-breakpoint-xs) {
          margin: 0px;
          width: 300px;

        }
      }

      .card-media {

        .author-name {
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          color: white;
          max-width: 500px;
          background-color: rgba(0, 0, 0, 0.6);
        }
        @media (min-width: $layout-breakpoint-sm) {
          min-width: 500px;
        }

        @media (min-width: $layout-breakpoint-xs) {
          height: 500px;
          max-width: 500px;
        }

        @media (max-width: $layout-breakpoint-xs) {
          height: 300px;
          width: 300px;
          img {
            height: 300px;
            width: 300px
          }
        }
      }

      .md-raised {
        margin: 10px 0 10px 0;
        width: 75%;
      }
    }
  }

  .card-desc-top {
    background: rgba($primary, 0.8);
    color: white;
    text-align: center;
  }

  .program-block {
    display: flex;
    z-index: 3;
    flex-wrap: wrap;

    .date-block {
      box-sizing: border-box;
      background-color: black;

      height: 170px;
      color: white;
      border-radius: 50%;
      width: 170px;
      text-align: center;

      @media (max-width: $layout-breakpoint-xs) {
        height: 90px;
        width: 90px;
      }

      @media (max-width: $layout-breakpoint-sm) {
        height: 110px;
        width: 110px;
      }

      .date-text {
        left: 20%;
        position: absolute;
        top: 40%;
        vertical-align: middle;
      }
      .date {
        left: 20%;
        position: absolute;
        top: 40%;
        vertical-align: middle;
      }
    }

    .date-block-disabled {
      background-color: rgba(grey, 0.8);
    }
  }

  .content-block {
    min-height: 500px;

  }

}

.courses-videos {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;

  md-card-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 12%;
    color: white;
    background-color: rgba($primary, 0.7);
  }

  md-card {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    .embed-responsive {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive.embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }

    .embed-responsive-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;

    }
  }
}


.courses-hear-forms {

  padding: 0;
  margin: 0 0 20px 0;

  md-card.md-default-theme, md-card {
    position: relative;
    display: block;
    transition: top 0.3s linear;
    top: 0px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      @extend .md-whiteframe-12dp;
     // transition: top 0.3s linear;
      top: -3px;
    }

    .show-description-content {
       display: none;
    }

    img {

      max-width: 100%;
      overflow: hidden;

    }

    md-card-content {
      position: absolute;
      text-transform: uppercase;
      bottom: 0px;
      right: 0;
      left: 0;
      height: 15%;
      max-height: 36px;
      color: white;
      background-color: rgba($primary, 0.7);
      overflow: hidden;
      white-space: nowrap;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .show-description-content {
        display: none;
      }
      .subtitle {
        display: none;
      }
    }



    @media (max-width: $layout-breakpoint-xs) {
      md-card-content.show-description {
        padding-top: 10px;
        padding-bottom:  10px;
        max-height: 100%;
        height: 100%;
        color: #2b2b2b;
        background-color: white;
        position: relative;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;


        }
        span {
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    @media (min-width: $layout-breakpoint-sm) {
       md-card-content.show-description {
        background-color: rgba($primary, 0.7);
        position: absolute;
      }

      &:hover md-card-content.show-description {
        max-height: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;
          //font-size: 20px;



        }
      }

    }

    @media (min-width: $layout-breakpoint-md) {

      &:hover md-card-content.show-description span {
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }

    }

    @media (max-width: $layout-breakpoint-xs) {
      md-card-content.show-description-favor {
        padding-top: 10px;
        padding-bottom:  10px;
        max-height: 100%;
        height: 100%;
        color: #2b2b2b;
        background-color: white;
        position: relative;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;


        }

        span {
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    @media (min-width: $layout-breakpoint-sm) {
      md-card-content.show-description-favor {

        background-color: rgba($primary, 0.7);
        position: absolute;

      }



      &:hover md-card-content.show-description-favor {
        max-height: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;
          //font-size: 20px;



        }
      }
      &:hover md-card-content.show-description-favor span {
        text-transform: uppercase;
        text-align: center;
        @media (min-width: $layout-breakpoint-md) {
          font-size: 36px;

        }
      }

    }

    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }
}

.courses-history {
  box-sizing: border-box;
  padding: 0 0 20px 0;

  md-card {
    position: relative;
    display: block;
    transition: top 0.3s linear;
    top: 0px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      @extend .md-whiteframe-12dp;
      transition: top 0.3s linear;
      top: -3px;
    }

    img {

      max-width: 100%;
      overflow: hidden;
    }

    md-card-content {
      position: absolute;
      bottom: 0px;
      right: 0;
      left: 0;
      height: 12%;
      color: white;
      background-color: rgba($primary, 0.7);
      overflow: hidden;
      white-space: nowrap;

    }

    @media (min-width: $layout-breakpoint-xs) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 30%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 46%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }
}

.model-card {
  box-sizing: border-box;
  .not-resize {
    height: auto !important;
  }

  md-card.md-default-theme, md-card {

    position: relative;
    display: block;

    &:hover {
      cursor: pointer;
    }

    .hide_file {
      position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      width: 100%;

    }
    md-card > img, md-card > :not(md-card-content) img {
    }
    md-card-content {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 30%;
      min-height: 100px;

      color: white;
      background-color: rgba($primary, 0.7);
    }

    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 22%;
      }

    }
    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-md) {

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }

}
