@import "theme";

.courses {

  md-card.md-default-theme, md-card {
    min-height: 500px;
    z-index: 3;
    padding: 0;
    min-width: 70vw;
    margin: 20px;
    transition: transform 0.4s;

    &:hover {
      @extend .md-whiteframe-16dp;
      transform: translate(0%, -1%);

    }

    @media (max-width: $layout-breakpoint-xs) {
      margin-left: 0px;
      margin-right: 0px;
      mix-height: 505px;
    }

    .card-desc {
      background: white;
      min-width: 300px;
      z-index: 2;
      @media (max-width: $layout-breakpoint-xs) {
        mix-height: 505px;

      }
    }

    md-card-content {
      overflow: hidden;
      padding: 0;

      md-card-title-text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .card-media {
      position: relative;
      z-index: 1;
      mim-width: 300px;
      height: 500px;
      overflow: hidden;
      padding: 0;



      img {
        position: absolute;
        top: 0%;
        left: 0%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;

      }
    }
    .descr-container {
      max-height: 116px;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
      color: white;
      border: none;
      background-color: black;
      @extend .md-whiteframe-14dp;
    }
    .md-raised {
      border-style: solid;
      border-color: black;
      border-width: 3px;
      background-color: transparent;
      color: black;
      height: 50px;
      width: 170px;
      margin: 8px;
      font-size: 26px;
      border-radius: 0px;
      transition: background-color 1s;
      @extend .md-whiteframe-3dp;

      @media (max-width: $layout-breakpoint-xs) {
        margin-bottom: 16px;

      }

    }
  }
}



