@import "theme";
@import "core";

.courses {


  md-card.md-default-theme, md-card {
    //  min-height: 500px;
    transition: transform 0.4s;

    &:hover {
      @extend .md-whiteframe-16dp;
      transform: translate(0%, -1%);
    }
    @media (min-width: 1000px) {
      height: 500px;
      min-height: 500px;
      min-width: 1000px;
    }


    @media (min-width: $layout-breakpoint-sm) {
    height: 500px;
    min-height: 500px;
    min-width: 960px;
  }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {
      min-height: 300px;
      min-width: 600px;
      margin-left: 0px;
      margin-right: 0px;
    }

    @media (min-width: $layout-breakpoint-xs) {
      margin-left: 0px;
      margin-right: 0px;
      height: 300px;
      max-width: 300px;

    }

    .card-desc {
      background: white;
      max-width: 500px;
      position: relative;
      z-index: 2;
      vertical-align: middle;
      text-align: center;

      @media (min-width: $layout-breakpoint-lg) {
        height: 500px;
        width: 500px;
      }

      @media (min-width: $layout-breakpoint-md) {
        height: 500px;
        width: 500px;
      }

      @media (max-width: $layout-breakpoint-xs) {
        max-width: 300px;
      }
      @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {
        max-width: 300px;
      }
    }

    .card-media {
      position: relative;
      z-index: 1;
      max-width: 500px;
      overflow: hidden;
      padding: 0;

      @media (max-width: $layout-breakpoint-xs) {
        height: 300px;
        max-width: 300px;
        min-width: 300px;
        img {
          height: 300px;
          width: 300px
        }

      }

      @media (min-width: $layout-breakpoint-sm) {
        height: 500px;
        min-width: 500px;
        max-width: 500px;
        img {
          height: 500px;
          width: 500px;
        }

      }
      @media (min-width: $layout-breakpoint-lg) {
        height: 500px;
        min-width: 500px;
      }

      @media (max-width: $layout-breakpoint-sm) {
        height: 300px;
        max-width: 300px;
        img {
          height: 300px;
          width: 300px
        }
      }
    }

    .descr-container {
      max-height: 116px;

      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .favor-container {
      max-height: 216px;

      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;

    }


    .md-raised {

      min-width: 200px;

      @media (max-width: $layout-breakpoint-xs) {
        margin-bottom: 22px;
        width: 90%;

      }
      @media (max-width: $layout-breakpoint-sm) {
        margin-bottom: 22px;
      }
    }
  }

}


