@import "theme";

.courses-details {

  .card-desc-top {
    background: rgba($primary, 0.8);
    color: white;
  }

  .program-block {
    display: flex;

    z-index: 3;

    flex-wrap: wrap;

    .date-block {
      box-sizing: border-box;
      background-color: black;

      height: 200px;
      color: white;
      border-radius: 50%;
      width: 200px;
      text-align: center;

      .date-text {
        left: 20%;
        position: absolute;
        top: 40%;
        vertical-align: middle;
      }
      .date {
        left: 20%;
        position: absolute;
        top: 40%;
        vertical-align: middle;
      }
    }
  }

  md-card.md-default-theme, md-card {
    min-height: 500px;
    z-index: 3;
    padding: 0;
    min-width: 60vw;
    margin: 20px;

    .card-desc-top {
      background: rgba($primary, 0.8);
      color: white;
    }
    .card-desc {
      background: white;
      min-width: 200px;
      width: 100%;
      z-index: 2;

    }

    .card-media {
      .author-name {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
      }

    }

    .md-raised {
      margin:16px;
      width: 100%;
    }
  }

  .content-block {
    min-height: 500px;

  }

  ///course img grid
  .gridListCourses md-grid-list {
    margin: 16px;
    md-grid-tile {
      transition: all 400ms ease-out 50ms;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }

  }

  .page-delimiter {
    position: relative;
    display: table;
    width: 100%;
    color: white;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;

    .fit-screen-wrap {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      z-index: 2;
    }
    .header {
      height: 150px;

    }
    .header-super {
      height: 350px;

    }
    .header-long {
      height: 500px;

    }
    .invers {
      background-color: white;
      color: black;
    }

    .overlay {
      z-index: 1;

    }
    .overlay-bg {
      @extend .overlay;
      background: linear-gradient(rgba(white, 0.4), rgba(white, 0.4)), url("../images/bg/slider/s5.png") no-repeat center center fixed;
    }

    .overlay-days {
      @extend .overlay;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
      background: linear-gradient(rgba(black, 0.4), rgba(black, 0.4)), url("../images/bg/IMG_7095.jpg") no-repeat center center fixed;
    }
    .overlay-comments {
      @extend .overlay;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
      background: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/IMG_6790_1.jpg") no-repeat center center fixed;
    }
    .overlay-description {
      @extend .overlay;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
      background: linear-gradient(rgba(black, 0.4), rgba(black, 0.4)), url("../images/bg/IMG_6914.jpg") no-repeat center center fixed;
    }
    .overlay-forms {
      @extend .overlay;
      background: linear-gradient(rgba(white, 0.6), rgba(white, 0.6)), url("../images/bg/slider/s12.png") no-repeat center center fixed;
    }
  }

}


.model-card {
  box-sizing: border-box;
  md-card.md-default-theme, md-card {

    position: relative;
    display: block;
    md-card-content {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 30%;
      min-height: 100px;

      color: white;
      background-color: rgba($primary, 0.7);
    }

    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 22%;
      }

    }
    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-md) {

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }

}
