.page-header {
  .pic-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*animation*/
    @media (min-width: 963px) {
      animation: slideShow 30s linear infinite 0s;
      -o-animation: slideShow 30s linear infinite 0s;
      -moz-animation: slideShow 30s linear infinite 0s;
      -webkit-animation: slideShow 30s linear infinite 0s;
    }


  }

  figurecaption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
  }

  .pic-1 {
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-height: 1000px) {
      background: url("../images/bg/slider/IMG_6917_h.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1000px)and (max-width:1500px) {
      background: url("../images/bg/slider/IMG_6917.jpg") no-repeat center center fixed;
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background: url("../images/bg/slider/IMG_6917_1200.jpg") no-repeat 25% 15% fixed;
    }
    @media (max-height: 642px)and (max-width:963px) {
      background: url("../images/bg/slider/IMG_6917_963.jpg") no-repeat 25% 15% fixed;
    }
    @media (max-height: 480px) and (max-width:723px)  {
      background: url("../images/bg/slider/IMG_6917_723.jpg") no-repeat 25% 15% fixed;
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .pic-2 {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media (min-height: 1000px) and (min-width:963px) {
      background: url("../images/bg/slider/IMG_6924_h.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1000px)and (max-width:1500px)  {
      background: url("../images/bg/slider/IMG_6924.jpg") no-repeat center center fixed;
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background: url("../images/bg/slider/IMG_6924_1200.jpg") no-repeat 25% 15% fixed;
    }
    @media (max-height: 642px)and (max-width:963px) {
      background: url("../images/bg/slider/IMG_6924_963.jpg") no-repeat 25% 15% fixed;
    }




    @media (min-width: 1280px) {
      display: none;
    }
  }

  .pic-3 {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-height: 1000px) and (min-width:963px){
      background: url("../images/bg/slider/IMG_6618_h.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1000px)and (max-width:1500px) {
      background: url("../images/bg/slider/IMG_6618.jpg") no-repeat center center fixed;
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background: url("../images/bg/slider/IMG_6618_1200.jpg") no-repeat 25% 15% fixed;
    }
    @media (max-height: 642px)and (max-width:963px) {
      background: url("../images/bg/slider/IMG_6618_963.jpg") no-repeat 25% 15% fixed;
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .pic-4 {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-height: 1000px) and (min-width:963px){
      background: url("../images/bg/slider/IMG_6962_h.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1000px)and (max-width:1500px) {
      background: url("../images/bg/slider/IMG_6962.jpg") no-repeat center center fixed;
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background: url("../images/bg/slider/IMG_6962_1200.jpg") no-repeat 25% 15% fixed;
    }

    @media (max-height: 642px) and (max-width:963px) {
      background: url("../images/bg/slider/IMG_6962_963.jpg") no-repeat 25% 15% fixed;
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .pic-5 {
    animation-delay: 24s;
    -o-animation-delay: 24s;
    -moz--animation-delay: 24s;
    -webkit-animation-delay: 24s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-height: 1000px) and (min-width:963px){
      background: url("../images/bg/slider/IMG_6947_h.jpg") no-repeat center center fixed;
    }
    @media (max-height: 1000px)and (max-width:1500px) {
      background: url("../images/bg/slider/IMG_6947.jpg") no-repeat center center fixed;
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background: url("../images/bg/slider/IMG_6947_1200.jpg") no-repeat 25% 15% fixed;
    }
    @media (max-height: 642px)and  (max-width:963px){
      background: url("../images/bg/slider/IMG_6947_963.jpg") no-repeat 25% 15% fixed;
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }





  /* keyframes*/

  @keyframes slideShow {
    0% {
      opacity: 0;
      transform: scale(1);
      -ms-transform: scale(1);
    }
    5% {
      opacity: 1
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(1.1);
      -ms-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
      -ms-transformm: scale(1);
    }
  }

  @-o-keyframes slideShow {
    0% {
      opacity: 0;
      -o-transform: scale(1);
    }
    5% {
      opacity: 1
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      -o-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      -o-transformm: scale(1);
    }
  }

  @-moz-keyframes slideShow {
    0% {
      opacity: 0;
      -moz-transform: scale(1);
    }
    5% {
      opacity: 1
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      -moz-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      -moz-transformm: scale(1);
    }
  }



}