

.brends-container {

  padding: 0;
  margin: 0 0 20px 0;
  .brend {
    position: relative;
    display: flex;

    overflow: hidden;



    img {

      max-width: 100%;
      overflow: hidden;

    }
    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 18%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 18%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }

}