.appoint-container {
  font-size: 16px;
  line-height: 16px;
  height: 180px;
  overflow: hidden;
}

.appoint-show {
  overflow: visible;
  height: auto;
}

.favor-app-btn {

  padding: 0;
  margin: 0 0 20px 0;

  md-card.md-default-theme, md-card {
    position: relative;
    display: block;
    transition: top 0.3s linear;
    top: 0px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      @extend .md-whiteframe-12dp;
      // transition: top 0.3s linear;
      top: -3px;
    }

    .show-description-content {
      display: none;
    }

    img {

      max-width: 100%;
      overflow: hidden;

    }

    md-card-content.show-description-favor {
      position: absolute;
      text-transform: uppercase;
      bottom: 40px;
      right: 0;
      left: 0;
      height: 35%;
      max-height: 40px;
      color: white;
      background-color: rgba($primary, 0.7);
      overflow: hidden;
      white-space: nowrap;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .show-description-content {
        display: none;
      }
      .subtitle {
        display: none;
      }
    }
    md-card-content.card-appoint {
      position: relative;
      text-transform: uppercase;
      height: 40px;
      border: 1px solid black;
      color: black;
      background-color: white;
      overflow: hidden;
      white-space: nowrap;
    }

    @media (max-width: $layout-breakpoint-xs) {
      md-card-content.card-appoint {
        //display: none;
        padding-bottom: 16px;
        height: auto;
        border: none;
      }
      md-card-content.show-description-favor {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 100%;
        height: 100%;
        color: #2b2b2b;
        background-color: white;
        position: relative;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;

        }

        span {
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }
      }
      //md-card-content.card-appoint {
      //  height: 40px;
      //  border: none;
      //  color: white;
      //  background-color: black;
      //}

    }

    @media (min-width: $layout-breakpoint-sm) {
      md-card-content.show-description-favor {

        background-color: rgba($primary, 0.7);
        position: absolute;

      }

      &:hover md-card-content.show-description-favor {
        max-height: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;
          //font-size: 20px;

        }
      }
      &:hover md-card-content.show-description-favor span {
        text-transform: uppercase;
        text-align: center;
        @media (min-width: $layout-breakpoint-md) {
          font-size: 36px;

        }
      }

    }

    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }
}

.home-master-btn {

  padding: 0;
  margin: 0 0 20px 0;

  md-card.md-default-theme, md-card {
    position: relative;
    display: block;
    transition: top 0.3s linear;
    top: 0px;
    // border-radius: 50%;
    overflow: hidden;
    @media (max-width: $layout-breakpoint-sm) {
      border-radius: 0;
    }
    &:hover {
      cursor: pointer;
      @extend .md-whiteframe-12dp;
      // transition: top 0.3s linear;
      top: -3px;
    }

    .show-description-content {
      display: none;
    }

    img {

      max-width: 100%;
      overflow: hidden;

    }

    md-card-content.show-description {
      position: absolute;
      text-transform: uppercase;
      bottom: 40px;
      right: 0;
      left: 0;
      height: 35%;
      max-height: 40px;
      color: white;
      background-color: rgba($primary, 0.8);
      overflow: hidden;
      white-space: nowrap;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .show-description-content {
        padding: 14px;
        display: none;
      }
      .subtitle {
        padding: 8px;
        display: none;
      }
    }
    md-card-content.card-appoint {
      position: relative;
      text-transform: uppercase;

      height: 40px;
      border: 1px solid black;
      color: black;
      background-color: white;
      overflow: hidden;
      white-space: nowrap;

    }

    @media (max-width: $layout-breakpoint-xs) {
      md-card-content.card-appoint {
        //display: none;
        padding-bottom: 16px;
          height: auto;
        border: none;
      }
      md-card-content.show-description {
        padding-top: 10px;
        padding-bottom: 10px;
        bottom: 0px;
        max-height: 100%;
        height: 100%;
        color: #2b2b2b;
        background-color: white;
        position: relative;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;

        }
        span {
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    @media (min-width: $layout-breakpoint-sm) {
      md-card-content.show-description {
        background-color: rgba($primary, 0.7);
        // position: absolute;
      }

      &:hover md-card-content.show-description {
        max-height: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .show-description-content {
          display: block;
          font-size: 16px;
          text-align: center;
        }
        .subtitle {
          text-align: center;
          display: block;
          text-transform: uppercase;
          //font-size: 20px;

        }
      }

    }

    @media (min-width: $layout-breakpoint-md) {

      &:hover md-card-content.show-description span {
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
      }

    }

    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 25%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }
}

.home-category-btn {

  padding: 0;
  margin: 0 0 20px 0;

  md-card.md-default-theme, md-card {
    position: relative;
    display: flex;
    transition: top 0.3s linear;
    top: 0px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 400px;
    max-height: 400px;

    &:hover {
      cursor: pointer;
      @extend .md-whiteframe-12dp;
      // transition: top 0.3s linear;
      top: -3px;
    }

    img {

      max-width: 100%;
      overflow: hidden;

    }

    md-card-content {
      position: absolute;
      text-transform: uppercase;
      bottom: 0px;
      right: 0;
      left: 0;
      height: 40%;
      max-height: 60px;
      width: 100%;
      color: white;
      display: flex;
      border-radius: 50%;
      align-items: center;
      text-align: center;
      background-color: rgba($primary, 0.7);
      overflow: hidden;

      span {
        width: 60%
      }
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .hiden-favors {
        display: none;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      border-radius: 0%;
      md-card-content {
        border-radius: 0%;
      }
      md-card-content.show-description-favor {
        span {
          width: 60%;
          margin-bottom: 10px;
        }
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 100%;
        height: 100%;
        color: white;
        border-radius: 0%;
        background-color: rgba($primary, 0.6);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .hiden-favors {
          display: flex;

        }

        span {
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
        }
      }
    }

    @media (min-width: $layout-breakpoint-sm) {
      md-card-content.show-description-favor {

        background-color: rgba($primary, 0.7);
        position: absolute;

      }

      &:hover md-card-content.show-description-favor {
        max-height: 100%;
        height: 100%;
        background-color: rgba($primary, 0.7);
        position: absolute;
        text-transform: none;
        white-space: pre-wrap;
        .hiden-favors {
          display: flex;

        }

      }
      &:hover md-card-content.show-description-favor span {
        text-transform: uppercase;
        text-align: center;
        @media (min-width: $layout-breakpoint-md) {
          font-size: 25px;

        }
      }

    }

  }
}

.page-header {
  .pic-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*animation*/
    //@media (min-width: 964px) {
    //  animation: slideShow 30s linear infinite 0s;
    //  -o-animation: slideShow 30s linear infinite 0s;
    //  -moz-animation: slideShow 30s linear infinite 0s;
    //  -webkit-animation: slideShow 30s linear infinite 0s;
    //}

  }

  figurecaption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
  }

  .pic-base {
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;
    -moz-background-position: center;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;

    background-attachment: scroll;
    -moz-background-attachment: scroll;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;

  }
  .pic-1 {
    @extend .pic-base;

    @media (min-height: 100px) {
      background-image: url("../images/bg/slider/IMG_6917_h.jpg");
    }
    @media (max-height: 1000px) and (max-width: 1500px) {
      background-image: url("../images/bg/slider/IMG_6917.jpg");
    }
    @media (max-width: 1200px) and (max-height: 800px) {
      background-image: url("../images/bg/slider/IMG_6917_1200.jpg")
    }
    @media (max-height: 642px) and (max-width: 963px) {
      background-image: url("../images/bg/slider/IMG_6917_963.jpg")
    }
    @media (max-height: 480px) and (max-width: 723px) {
      background-image: url("../images/bg/slider/IMG_6917_723.jpg")
    }

  }
}

.brends-container {

  padding: 0;
  margin: 0 0 20px 0;
  .brend {
    position: relative;
    display: flex;

    overflow: hidden;

    img {

      max-width: 100%;
      overflow: hidden;

    }
    @media (min-width: $layout-breakpoint-md) {

      &.flex-gt-md-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 18%;
      }

    }

    @media (min-width: $layout-breakpoint-sm) {

      &.flex-gt-sm-22 {

        max-height: 100%;
        box-sizing: border-box;
        flex: 1 18%;
      }

      &.flex-gt-sm-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }

    }

    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm) {

      &.flex-gt-xs-46 {
        max-height: 100%;
        box-sizing: border-box;
        flex: 1 43%;
      }
      &:first-child, &:nth-child(2) {
        flex: 1 43%;
      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      &.flex-xs-80 {
        flex: 1 80%;
        // Special override for the 1st & 2nd child default resizing
        &:first-child, &:nth-child(2) {
          flex: 1 80%;
        }
      }
    }
  }

}

.dialog-close-btn {
  height: 60px !important;
  width: 60px !important;
  //margin-right:-18 !important;
}