.logo-img {

  @media (min-width: $layout-breakpoint-lg) {
    width: 160px;
    height: 150px;
  }
  @media (min-width: $layout-breakpoint-md) {
    width: 140px;
    height: 135px;
  }
  @media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md) {
    width: 110px;
    height: 105px;

  }
  @media (max-width: $layout-breakpoint-xs) {
    width: 70px;;
    height: 65px;
  }
}

#loading {
  z-index: 700;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(white, 0.99);

  @-webkit-keyframes rotating /* Safari and Chrome */
  {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

  .logo-img {
    animation: rotating 2s linear infinite 0s;
    -o-animation: rotating 2s linear infinite 0s;
    -moz-animation: rotating 2s linear infinite 0s;
    -webkit-animation: rotating 2s linear infinite 0s;

  }
}

md-dialog.md-dialog-fullscreen.menu-dialog {
  max-height: 100%;
  background-color: rgba(white, 0.92);
  text-align: center;

  .pg-menu-item {
    @extend .md-whiteframe-8dp;
    cursor: pointer;
    padding: 2% 0 2% 0;
    margin: 3px;
    border-radius: 0px;
    vertical-align: middle;
    transition: background-color 0.3s;
    font-size: 30px;
    color: white;
    height: 12%;
    background-color: $primary;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    min-height: 60px;

    &:hover {
      color: black;
      border-color: white;
      background-color: white;
      @extend .md-whiteframe-16dp;
      @media (min-width: $layout-breakpoint-md) {

      }
    }

    @media (max-width: $layout-breakpoint-xs) {
      padding-top: 1.5%;
      padding-bottom: 1.5%;
      margin: 1px;
      font-size: 16px;
    }
    @media (max-width: $layout-breakpoint-sm) {
      padding-top: 1.5%;
      padding-bottom: 1.5%;
      margin: 1px;
      font-size: 20px;
    }
    @media (min-width: $layout-breakpoint-md) {
      margin: 1px;

    }
  }

  .pg-menu-section {
    margin: 4% 0 0 0;
    width: 100%;
    display: table;
    min-height: 20px;

    .pg-menu-section-title {

      cursor: pointer;
      font-size: 46px;
      padding-top: 2%;
      padding-bottom: 2%;
      font-weight: bold;

      @media (max-width: $layout-breakpoint-xs) {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
      }
      @media (max-width: $layout-breakpoint-sm) {
        font-size: 26px;
        padding-top: 2%;
        padding-bottom: 2%;
      }
    }

  }

}

.header-loading {
  z-index: 39;
  background-color: rgba($primary, 0.15);
  position: absolute;
  bottom: 0
}

.page-header, .page-footer {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  //overflow: hidden;

}

.page-container {
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  background-color: white;
}

.page-header {
  position: relative;
  height: 100vh;

  #video-container {
    height: 90vh;
    //  height:100vh;
    position: fixed;
    bottom: 0%;
    //z-index: -1;
    left: 0;
    right: 0;
    display: none;
    @media (min-width: 1360px) {
      display: block;
    }
  }

  .screen {
    position: absolute;
    //top: 50%;
    top: 40%;
    left: 50%;
    bottom: 0%;
    min-width: 100%;
    min-height: 150%;
    //min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    //-webkit-filter: contrast(150%);
    //-moz-filter: contrast(150%);
    //-o-filter: contrast(150%);
    //
    //filter: contrast(150%);

    background: linear-gradient(
                    rgba(0, 0, 0, 0.9),
                    rgba(0, 0, 0, 0.9)
    );

  }
}

.page-header {
  background: rgba(white, 0.6);
  * {
    margin: 0;
    padding: 0;
  }

  .page-header-wrap {
padding-bottom: 70px;
    min-height: 100vh;
    z-index: 1;
    color: white;
    font-family: 'microsquare', sans-serif;
  }
  a {
    color: white;
  }
  .logo-img {

    @media (min-width: $layout-breakpoint-md) {
      width: 130px;
      height: 125px;
    }
    @media (max-width: $layout-breakpoint-xs) {
      width: 70px;;
      height: 65px;
    }
    @media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md) {
      width: 110px;
      height: 105px;
      margin: 20px;
    }

  }
  h.featured-area-subtitle {
    font-size: 1em;
    line-height: 1em;

    @media (max-width: $layout-breakpoint-xs) {
      font-size: 16px;
    }
    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-md) {
      font-size: 20px;
    }
    @media (min-width: $layout-breakpoint-md) {
      font-size: 36px;
    }

  }

  h1.featured-area-title {

    width: auto;
    font-size: 6.1428em;
    font-weight: 900;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: $layout-breakpoint-xs) {
      font-size: 28px;

    }
    @media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-md) {
      font-size: 66px;
    }

    @media (min-width: $layout-breakpoint-md) {
      font-size: 75px;
    }

  }

  .overlay-header {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-filter: contrast(150%);
    -moz-filter: contrast(150%);
    -o-filter: contrast(150%);
    filter: contrast(150%);

  }
}

.page-footer {
  position: relative;
  z-index: 0;

  @media (max-width: $layout-breakpoint-xs) {
    .md-margin {
      margin-left: 0;
      margin-right: 0;

    }
  }
  .social-header {

    width: 600px;
    background: rgba($primary, 0.7);
    color: white;
    @media (max-width: $layout-breakpoint-sm) {
      width: 585px;;
    }
    @media (max-width: $layout-breakpoint-xs) {
      width: 300px;
    }

  }
  .city {
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 0;
  }
  .social-container {
    width: 600px;
    padding-left: 1px;
    background: rgba(white, 0.5);
    @media (max-width: $layout-breakpoint-sm) {
      width: 585px;;
    }
    @media (max-width: $layout-breakpoint-xs) {
      width: 300px;
    }
  }

  .avatar {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    flex: none;
    width: 65px;
    height: 65px;
    @media (max-width: $layout-breakpoint-xs) {
      width: 50px;
      height: 50px;
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  .header-contacts {
    margin-bottom: 16px;

  }

  .footer-contacts {
    font-weight: 900;
    width: 600px;

    background: rgba(white, 0.5);

    @media (max-width: $layout-breakpoint-sm) {
      width: 585px;;
    }

    @media (max-width: $layout-breakpoint-xs) {
      width: 300px;
    }
  }

  .page-header-wrap {

    z-index: 2;
    color: black;
    font-weight: 600;
    font-family: 'microsquare', sans-serif;
    margin-top: 120px;
    margin-bottom: 20px;
    @media (max-width: $layout-breakpoint-xs) {

      .md-display-1 {
        font-size: 28px;
      }

    }
  }
  .fit-screen-wrap {
    z-index: 61;
  }
  .overlay {
    z-index: 60;
    @extend .overlay;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);

    @media (min-height: 1286px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_full.jpg");
    }
    @media (min-width: 1923px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_full.jpg");
    }

    @media (max-height: 1286px) and (max-width: 1923px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_1923_1282.jpg");
    }

    @media (max-height: 1026px) and (max-width: 1539px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_1539_1026.jpg");
    }

    @media (max-height: 802px) and (max-width: 1203px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_1203_800.jpg");
    }

    @media (max-height: 642px) and (max-width: 963px) {
      background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url("../images/bg/footter/IMG_6844_963_642.jpg");
    }

  }

}

.page-header, .page-footer {

  text-align: center;
  a {
    text-decoration: none;
  }
  color: white;

}

