.card-media-product {
  width: 300px;
  overflow: scroll;
  max-width: 100%;
  vertical-align: middle;
  .card-desc {

    text-align: center;
    width: 100%;
  }

  img {
    width: 200px;
    max-width: 100%;

    @media (max-width: $layout-breakpoint-xs) {
      border: none;
    }
  }
}

.products {
  .card-desc {

    text-align: center;

  }
  md-card.md-default-theme, md-card {

    &:hover {
      cursor: pointer;
    }
  }

}

