@import "theme";



.salon-contacts {


  md-card.md-default-theme, md-card {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 300px;
    transition: transform 0.4s;

    &:hover {
      @extend .md-whiteframe-16dp;
      transform: translate(0%, -1%);
    }

    @media (min-width: $layout-breakpoint-xs) {
      min-height: 300px;
      min-width: 600px;
      margin-left: 0px;
      margin-right: 0px;
    }

    .card-desc {
      background: white;
      min-width: 300px;
      z-index: 2;
      vertical-align: middle;
      text-align: center;

    }

    .card-media {
      position: relative;
      z-index: 1;

      overflow: hidden;
      padding: 0;
      height: 300px;
      max-width: 300px;
      img {
        height: 300px;
        width: 300px
      }

    }

    .descr-container {
      max-height: 116px;
      width: 100%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;

    }

  }

}

.angular-google-map-container {
  height: 400px;
  width: 300px;
  @media (min-width: $layout-breakpoint-xs) {
    min-height: 400px;
    min-width: 600px;

  }
}

.angular-google-map-container-academy {
  height: 450px;

}

