@import "../../node_modules/angular-material/modules/scss/angular-material";
@import "../../node_modules/ng-img-crop-full-extended/source/scss/ng-img-crop";


@import "theme";
@import "material.overides";
@import "core";
@import "buttons";
@import "index";
@import "courses.cards";
@import "courses.details";

@import "media.observer";
@import "salon.contacts";
@import "products";
@import "admin";
@import "calendar";
@import "home";
