<md-dialog aria-label="Модуль" flex="20" >
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools md-padding ">
            <h2 class=" md-padding "> Додоти дату модуля</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-dialog-content-body>
            <md-datepicker ng-model="vm.addModuleDateMolel" ></md-datepicker>
        </md-dialog-content-body>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="2">
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button  class="md-raised md-accent" ng-click="vm.saveModuleDate()"> Зберегти</md-button>
    </md-dialog-actions>
</md-dialog>