
<md-content layout-xs="column" layout="row">
    <div flex="12">
        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    aria-label="Адміністрування сайту">

            <md-toolbar class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    <h3 class="md-padding"></h3>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item>
                    <md-button>
                        Модулі
                    </md-button>
                </md-list-item>
            </md-list>

        </md-sidenav>
    </div>
    <div flex="75">
            <md-button ng-if="!vm.showCourseCreateForm && !vm.showCourseEditForm" class="md-raised" ng-click="vm.showCreateForm()">
                Додати модуль
            </md-button>
            <div ng-if="vm.showCourseCreateForm && !vm.showCourseEditForm" ng-include="'admin/views/course.create.form.html'" ></div>
            <div ng-if="vm.showCourseEditForm && !vm.showCourseCreateForm" ng-include="'admin/views/course.edit.form.html'" ></div>

            <md-list class="md-dense"  flex>
                <md-subheader class="md-no-sticky">Модулі</md-subheader>
                <md-list-item class="md-2-line " ng-repeat="item in vm.courses" ng-click="null">
                    <img ng-src="{{item.hearFormsPhotos[0].url}}?{{$index}}" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.name }}</h3>
                        <md-list layout="row" layout-align="center center">
                            <md-list-item >
                                <md-button class="  md-raised" ng-click="vm.deleteCourse(item)">Видалити</md-button>
                            </md-list-item>
                            <md-list-item >
                                <md-button class=" md-primary md-raised" ng-click="vm.showEditForm(item)">Редагувати</md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-list-item>
            </md-list>
    </div>
    <div flex="12">
    </div>
    </div>
</md-content>
