<md-list>
    <md-list-item class="md-3-line md-long-text" ng-repeat="order in vm.orders" ng-click="null">
        <img class="md-avatar" alt="TODO" />
        <div class="md-list-item-text">
            <h3>{{order.event_name}}</h3>
            <!--<h4>{{order.event_dates}}</h4>-->
            <p>
                <span ng-if="order.name"><b>name:</b> {{order.name}}</span>
                <span ng-if="order.phone"><b>phone: </b>{{order.phone}}</span>
                <span ng-if="order.email"><b>email</b>: <a href="mailto:{{order.email}}">{{order.email}}</a></span>
            </p>
        </div>
    </md-list-item>
</md-list>