<!DOCTYPE html>
<html lang="uk" >
<head>
    <title>PALAMAR GROUP Салон краси. Львів</title>
    <link rel="shortcut icon" href="content/images/palamar_logo.ico">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="uk-UA,en,ru">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" hreflang="uk" href="http://palamar.com.ua"/>
    <link rel="alternative" hreflang="uk" href="http://palamar.com.ua/beauty-salon"/>
    <link rel="alternative" hreflang="uk" href="http://www.palamar.com.ua"/>
    <link rel="alternative" hreflang="uk" href="http://www.palamar.com.ua/beauty-salon"/>

    <meta name="description" lang="uk"  content="{{$root.seo.description}}">
    <meta name="description" lang="ru" content="{{$root.seo.description_ru}}">
    <meta name="description" lang="ru" content="Салон краси і навчальний центр для працівників салонів краси">
    <meta name="keywords" lang="uk" content="{{$root.seo.keywords}}">
    <meta name="keywords" lang="ru" content="{{$root.seo.keywords_ru}}t">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="fragment" content="!"/>
    <base href="/"/>

    <!--build:prod-->
    <script src="node_modules/systemjs/dist/system.js"></script>
    <script src="system.config.js"></script>
    <link rel="stylesheet" href="content/css/app.css"/>
    <!--endbuild-->

    <script>
        System.import('youtube-iframe-api');
        System.import('app');

    </script>

</head>

<body ng-cloak>
<div id="loading" ng-if="$root.loading" layout="row" layout-align="center center">
    <img class="logo-img md-padding" src="../content/images/logo/palamar_logo.png"/>
</div>
<pg-menu></pg-menu>

<!--header-->
<pg-header class="page-header" ng-if="::!$root.isAdminZone()"></pg-header>


<div class="page-container" id="pageContainer">
    <pg-consult></pg-consult>

    <ng-view id="mainContent" flex ng-if="::!$root.isAdminZone();"></ng-view>
</div>
<!--footer-->
<pg-footer class="page-footer " ng-if="::!$root.isAdminZone()"></pg-footer>

</body>
</html>
