<div class="courses description-container" layout="row" layout-align="center center">
    <div layout="column" layout-align="center center">

        <div class="course-bg " layout-align="center center" flex
             ng-repeat="course in vm.courses track by $index" ng-if="::course.isVisible">
            <div hide show-gt-xs="true" layout="row" layout-align="center center">

                <md-card ng-if="$first && !$odd" flex-md="90" flex-sm="70" flex="100" md-whiteframe="5"
                >
                <md-card-content layout="row" layout-align="start none">
                        <div class="card-media " data-aos="{{{true:'fade-right', false:'false'}[vm.showAnimation]}}"   data-aos-easing="ease-out-cubic"
                             flex="50"><img ng-src="{{::course.avatar}}" class="md-card-image "/>
                        </div>
                        <div  class="card-desc " data-aos="{{{true:'fade-left', false:'false'}[vm.showAnimation]}}"   data-aos-easing="ease-out-cubic"
                              flex="50" layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true"  class="md-display-2">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-1" >{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card id="trigger-right" ng-if="$odd " flex-md="90" flex-sm="70" flex="100" md-whiteframe="5">
                    <md-card-content layout="row" layout-align="start none">
                        <div class="card-desc  " data-aos="{{{true:'fade-right', false:'false'}[vm.showAnimation]}}"  data-aos-easing="ease-out-cubic"
                              flex="50" flex layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true"  class="md-display-2">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-1" >{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>
                        <div class="card-media " data-aos="{{{true:'fade-left', false:'false'}[vm.showAnimation]}}" data-aos-easing="ease-out-cubic"
                              flex="50"><img ng-src="{{::course.avatar}}" class="md-card-image"/></div>
                    </md-card-content>
                </md-card>
                <md-card ng-if="!$first && !$odd" flex-md="90" flex-sm="70" flex="100" md-whiteframe="5">
                    <md-card-content layout="row" layout-align="start none">
                        <div class="card-media " data-aos="{{{true:'fade-right', false:'false'}[vm.showAnimation]}}"  data-aos-easing="ease-out-cubic"
                              flex="50"><img ng-src="{{::course.avatar}}" class="md-card-image "/>
                        </div>
                        <div class="card-desc " flex="50" data-aos="{{{true:'fade-left', false:'false'}[vm.showAnimation]}}"
                             data-aos-easing="ease-out-cubic" layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true"  class="md-display-2">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-1" >{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>

                    </md-card-content>
                </md-card>
                <div class="overlay-bg"></div>
                <!--<md-button hide show-gt-xs="true" class=" md-fab  side-up-btn"-->

                            <!--data-aos-anchor="#trigger-right"-->
                            <!--data-aos-anchor-placement="top-center" data-aos-delay="100" scroll-to="mainContent"-->
                            <!--easing="easeInOutCubic"-->
                            <!--duration="1800" aria-label="up">-->
                    <!--<md-icon class=""-->
                             <!--md-svg-src="navigation:ic_arrow_downward_24px"></md-icon>-->
                <!--</md-button>-->
            </div>

            <div hide-gt-xs="true" layout="row" layout-align="center center">
                <div class="overlay-bg trigger-right"></div>
                <md-card md-whiteframe="8" ng-click="vm.showDetails(course._id)">
                    <md-card-content layout="column">
                        <div class="card-media "><img ng-src="{{::course.avatar}}" class="md-card-image"/></div>
                        <div class="card-desc "
                             layout="column" layout-align="space-around center">
                            <md-card-title>
                                <md-card-title-text>
                                    <div class="md-headline">{{::course.name}}</div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                            >Деталі
                            </md-button>
                        </div>
                    </md-card-content>

                </md-card>
                <!--<div ng-if="$index == 1" id="mobile-trigger-right"></div>-->
                <!--<md-button  class=" md-fab  side-up-btn"-->
                            <!--data-aos="{{{true:'fade-left', false:''}[vm.showAnimation]}}"   data-aos-easing="ease-in-out-back"-->
                            <!--data-aos-anchor="#mobile-trigger-right"-->
                            <!--data-aos-anchor-placement="bpttom-center" data-aos-delay="100" scroll-to="mainContent"-->
                            <!--easing="easeInOutCubic"-->
                            <!--duration="1800" aria-label="up">-->
                    <!--<md-icon class=""-->
                             <!--md-svg-src="navigation:ic_arrow_downward_24px"></md-icon>-->
                <!--</md-button>-->
            </div>
        </div>
    </div>
</div>


