

<div ng-attr-id="{{ vm.markerReadySEO }}" class="courses-details description-container" layout="column">

    <!--author-->
    <div layout="row" class="top-info" flex layout-align="center center">
        <md-card flex-md="90"  flex-gt-md="60"  flex-xs="none" flex md-whiteframe="5">
            <md-card-content layuot="column" layout-gt-sm="row">
                <div class="card-desc-top " flex hide-gt-sm="true" layout="column" layout-align=" space-around center">
                    <md-card-title>
                        <md-card-title-text flex layout="column" layout-align=" space-around center">
                            <div class="md-display-1">Блок</div>
                            <div class="md-display-1">{{::vm.course.name}}</div>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <div class=" card-media" layout="column"
                     flex-gt-sm="50" layout-align="center center">
                    <img ng-src="{{::vm.course.author.photoUrl}}"/>
                    <div class="md-padding author-name" layout="column" layout-align="space-around center">
                        <div class="md-headline">Автор</div>
                        <div class="md-headline">{{ ::vm.course.author.name}}</div>
                    </div>
                </div>
                <div  class="card-desc "   flex-gt-sm="50"
                     layout="column" layout-align=" space-between center" class="md-margin">


                        <md-card-title layout="column" layout-align="space-around center">
                            <md-card-title-text hide show-gt-sm="true"  layout="column"
                                                layout-align=" center center">

                                <div class="md-display-1  md-padding">{{::vm.course.name}}</div>
                            </md-card-title-text>
                            <div  class="md-title "  layout="row" layout-align=" space-around center">
                                <div class=" md-padding">Вартість</div>
                                <div flex>{{::vm.course.price}} грн.</div>
                            </div>
                        </md-card-title>
                        <md-button class="md-raised md-margin"  aria-label="Play" ng-click="::vm.showModelDialog($event)">
                            Стати моделлю
                        </md-button>
                        <md-button class=" md-raised xs-selected md-margin" aria-label="Play"
                                   ng-click="::vm.showOrderDialog($event)">
                            Записатись
                        </md-button>
                        <md-button scroll-to="comments" easing="easeInOutCubic"
                                   duration="700" class=" md-raised  " aria-label="Відгуки">
                            Відгуки
                        </md-button>
                        <div class="md-padding md-margin" layout="column" layout-gt-sm="row"
                             layout-align="center center">
                            <div flex class="md-title md-padding">Поділитись</div>
                            <div class="social-image-container" layout="row"
                                 layout-align="center center">
                                <a href=""
                                   socialshare
                                   socialshare-type="feed"
                                   socialshare-provider="facebook"
                                   socialshare-via="614392392043708"
                                   socialshare-caption="PALAMAR GROUP ACADEMY"
                                   socialshare-description="{{::vm.socialParams.description}}"
                                   socialshare-media="{{::vm.socialParams.image}}"
                                   socialshare-url="{{::vm.socialParams.target}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/face.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="vk"
                                   socialshare-text="{{ ::vm.socialParams.title}}"
                                   socialshare-description="{{::vm.socialParams.description}}"
                                   socialshare-media='{{::vm.socialParams.image}}'
                                   socialshare-url="{{::vm.socialParams.target}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/vk-social-logotype.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{ 'Запрошуємо на блок '+ vm.socialParams.title }}"
                                   socialshare-hashtags=""
                                   socialshare-url="{{::vm.socialParams.target}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/twi.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="google"
                                   socialshare-url="{{::vm.socialParams.target}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/goo.svg"></md-icon>

                                </a>


                            </div>
                        </div>

                </div>
            </md-card-content>
        </md-card>

    </div>

    <div layout="row" flex ng-if="::vm.course.days">
        <div class="page-delimiter content-block" id="trigger-right" flex>
            <div class="fit-screen-wrap header-long " layout="column">
                <div flex="none" layout="row" class="md-padding program-block  " layout-align=" center center">
                    <div ng-repeat="day in ::vm.course.days track by $index">
                        <div class="date-block md-margin "   layout="column"
                             layout-align=" center center">
                            <div hide show-gt-sx='true' class=" md-display-2">{{ ::day.date| date:'dd.MM'}}</div>
                            <div show-sx='true' class="md-title  ">{{::day.date| date:'dd.MM'}}</div>
                            <div hide show-gt-sx='true' class="md-subhead  ">{{::day.program}}</div>


                        </div>
                    </div>
                </div>
            </div>


            <div  class="overlay-days"> <figure ></figure></div>

        </div>
    </div>

    <div  layout="row" flex ng-if="vm.course.hearFormsPhotos.length>0">
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap invers header">
                <div class="md-display-2"> Mатеріали блоку</div>
            </div>

        </div>
    </div>

    <div layout="row" layout-align="center center" ng-if="vm.course.hearFormsPhotos.length>0">

        <div  flex flex-gt-md="60" flex-md="80"  flex-gt-xs="60">
            <div class="courses-hear-forms" layout-margin layout layout-wrap layout-align="center center">
                <md-card md-whiteframe="6"  ng-repeat="course in vm.course.hearFormsPhotos"
                         class="md-margin " ng-attr-flex-gt-sm="{{::vm.getPictureFlex($index,vm.course.hearFormsPhotos.length)}}"   flex-gt-xs="46" flex-xs="80"
                         ng-click="::vm.showMediaObserver(vm.course.hearFormsPhotos, $index)">

                        <img ng-src="{{::course.url}}" class="md-card-image">

                    <md-card-content ng-if="::course.name" layout="column" flex="100" layout-align="center center">
                        <span class="  md-margin">{{::course.name}}</span>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>

    <div layout="row" layout-align="center center" ng-if="vm.course.videos.length>0">
        <div flex flex-gt-md="60" flex-md="80" >
            <div layout="column" layout-margin layout layout-wrap layout-align="center center" class="embed-responsive-container" >
                <md-card md-whiteframe="6" class="  courses-videos"
                         ng-repeat="video in ::vm.course.videos track by $index"
                         flex>
                    <div flex class="embed-responsive embed-responsive-16by9">
                        <youtube-video class="embed-responsive-item" player-vars="{showinfo: 0}"
                                       video-id="video.url"></youtube-video>
                    </div>
                    <md-card-content ng-if="::video.name" layout="column" flex="100" layout-align="center center">
                        <span class="  md-margin">{{::video.name}}</span>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>

    <div layout="row" flex ng-if="::vm.course.description">
        <div class="page-delimiter content-block" flex>
            <div  class="fit-screen-wrap header-long " layout="column">

                <div layout="row" layout-align="center center">
                    <div   hide-xs="true" flex="60" flex-gt-sm="50"
                         class="md-display-1 md-margin md-padding">
                        {{::vm.course.description}}
                    </div>
                    <div    hide-gt-xs="true"  flex="70"
                         class="md-headline ">{{::vm.course.description}}
                    </div>

                </div>
            </div>
            <div class="overlay-description"></div>
        </div>
    </div>

    <!--historyPhotos-->
    <div layout="row" flex ng-if="vm.course.historyPhotos.length>0">
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap invers header">
                <div class="md-display-1">Як проходили попередні блоки</div>
            </div>

        </div>
    </div>
    <div layout="row" layout-align="center center" ng-if="vm.course.historyPhotos.length>0">
        <div  flex-gt-md="60" flex-md="80"  flex-gt-xs="60" >

            <div class="courses-history" layout-margin layout layout-wrap layout-align="center center">
                <md-card md-whiteframe="6"  ng-repeat="course in ::vm.course.historyPhotos"
                         class="md-margin " flex-gt-xs="46" flex-xs="80"
                         ng-click="::vm.showMediaObserver(vm.course.historyPhotos, $index)">

                        <img ng-src="{{::course.url}}" class="md-card-image">

                    <md-card-content ng-if="::course.name" layout="column"  layout-align="center center">
                        <span class="  md-margin">{{::course.name}}</span>
                    </md-card-content>
                </md-card>

            </div>
        </div>


    </div>
    <!--Comments-->
    <div layout="row" flex ng-if="vm.showComments()">
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap header-super">
                <div   class="md-display-3">Відгуки</div>
            </div>
            <div class="overlay-comments"></div>
            <!-- ng-style="{'background-image':'url({{vm.course.historyPhotos[0].url}})'}"></div>-->
        </div>
    </div>
    <div id="comments" ng-class="{'content-block':vm.showComments()}" layout="row" layout-align="center center">
        <div flex="60" flex-xs="100" flex-sm="90">

            <div   ng-if="vm.showComments()">
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-if="comment.isVisible"
                                  ng-repeat="comment in vm.course.comments track by $index">
                        <md-divider></md-divider>
                        <div class="md-list-item-text md-padding " layout="column" layout-align="center start">
                            <div class="md-headline " layout="row">
                                <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
                                &nbsp;
                                <span>{{ ::comment.name }}</span>
                            </div>
                            <div class="md-title ">{{ ::comment.text }}</div>
                        </div>
                    </md-list-item>

                </md-list>
            </div>
            <div layout="row" layout-align="  end center" layout-align-xs="  center">

                <md-button ng-click="::vm.showCommentDialog($event)" class="comment-btn xs-selected md-raised ">Додати
                    відгук
                </md-button>

            </div>
        </div>
    </div>

</div>


