<div layout="row">

    <div flex="12" flex-xs="0" flex-sm="4" flex layout="column" layout-align="start center ">

        <md-button hide-xs style=" background-color: rgba(0, 0, 0, 0.75);left:0;top:95px; position: fixed" class="md-fab " ng-click="vm.backToHome()">
            <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
        </md-button>
    </div>
    <div flex="75" flex-xs="100" class=" course-divider" flex-sm="92" layout-align="center center">


        <div flex layout="row" layout-wrap layout-align="center " layout-align-xs=" center end" class="course-name" >
            <md-button hide-gt-xs style=" background-color: rgba(0, 0, 0, 0.75);left:0;top:97px; position: fixed" class="md-fab course-back-small-fab" ng-click="vm.backToHome()">
                <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
            </md-button>
            <h2 hide-xs >{{::vm.course.name}}</h2>
            <h3 hide-gt-xs style=" left:100px;top:97px; position: fixed">{{::vm.course.name}}</h3>
        </div>
        <div layout="row">
            <md-card>
                <img hide-gt-sm ng-src="{{::vm.course.author.photoUrl}}" class="md-card-image md-padding"/>
                <md-card-title>
                    <md-card-title-media>
                        <img hide-sm show-gt-sm hide-xs class="md-card-image md-padding"
                             ng-src="{{::vm.course.author.photoUrl}}"/>

                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">Автор {{ ::vm.course.author.name}}</span>
                        <span class="md-subhead">Дати проведення модуля</span>
                        <span class="md-subhead" ng-repeat="date in ::vm.course.courseModulesDates">{{ date| date:'dd.MM.yyyy'}} </span>
                        <span class="md-headline">Ціна {{ ::vm.course.price}}  грн</span>
                        <span class="md-subhead"> {{::vm.course.description}}</span>
                        <div flex layout layout-wrap layout-align="end center">
                            <md-button ng-show="!vm.order.formVisible" class="detail-btn" style="width: 140px;"
                                       aria-label="Play" ng-click="vm.order.showForm(course)">
                                Записатись
                            </md-button>
                        </div>
                        <div ng-include="'courses/views/order.html'">
                        </div>
                    </md-card-title-text>

                </md-card-title>

            </md-card>

        </div>
        <div flex layout layout-wrap layout-align="center " ng-if="vm.course.hearFormsPhotos.length>0">
            <h3>Теми модуля</h3>
        </div>
        <div class="courses course-inner" flex layout layout-wrap layout-align="center ">
            <md-card ng-click="::vm.showMediaObserver(vm.course.hearFormsPhotos, $index)" ng-repeat="photo in ::vm.course.hearFormsPhotos" class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{::photo.url}}" class="md-card-image">
                </card-image-container>
                <md-card-content layout="column" layout-align="center center" ng-if="::photo.name">
                    <h3>{{::photo.name}}</h3>

                </md-card-content>
            </md-card>
        </div>
        <div flex layout layout-wrap layout-align="center " ng-if="vm.course.historyPhotos.length>0">
            <h3>Фото Попередніх модулів</h3>
        </div>
        <div class="courses-history" flex layout layout-wrap layout-align="center ">
            <md-card ng-click="::vm.showMediaObserver(vm.course.historyPhotos, $index)"  ng-repeat="photo in ::vm.course.historyPhotos" class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{::photo.url}}" class="md-card-image">
                </card-image-container>

                <md-card-content layout="column" layout-align="center center" ng-if="::photo.name">
                    <h3>{{::photo.name}}</h3>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div flex="12" flex-sm="4" flex-xs="0">
    </div>
</div>

