<div class="courses-details" layout="column">

    <!--author-->

    <div layout="row" flex layout-align="center center" >
        <md-card flex-gt-md="60" flex-gt-lg="40" flex-sm="70"flex="100" md-whiteframe="5">
            <md-card-content layuot="column" layout-gt-sm="row">
                <div class="card-desc-top " flex hide-gt-sm="true" layout="column" layout-align=" space-around center">
                    <md-card-title>
                        <md-card-title-text flex layout="column" layout-align=" space-around center">
                            <div class="md-display-1">Блок</div>
                            <div class="md-display-1">{{::vm.course.name}}</div>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <div flex class=" card-media">
                    <img src="{{vm.course.author.photoUrl}}"/>
                    <div class="md-padding author-name" layout="column" layout-align="space-around center">
                        <div class="md-headline">Автор</div>
                        <div class="md-headline">{{ ::vm.course.author.name}}</div>
                    </div>
                </div>
                <div flex class="card-desc " flex-gt-sm="50" layout="column" layout-align=" space-between center">
                    <md-card-title layout="column" layout-align="space-around center">
                        <md-card-title-text hide show-gt-sm="true" flex layout="column"
                                            layout-align=" space-around center">
                            <div class="md-display-1">Блок</div>
                            <div class="md-display-1">{{::vm.course.name}}</div>
                        </md-card-title-text>
                        <div flex class="md-title " flex layout="row" layout-align=" space-around center">
                            <div class=" md-padding">Вартість</div>
                            <div flex>{{::vm.course.price}} грн.</div>
                        </div>
                    </md-card-title>

                    <div flex layuot="column">

                        <md-button class="md-raised " aria-label="Play" ng-click="vm.showModelDialog($event)">
                            Стати моделлю
                        </md-button>
                        <md-button class=" md-raised xs-selected " aria-label="Play"
                                   ng-click="vm.showOrderDialog($event)">
                            Записатись
                        </md-button>
                        <md-button class=" md-raised  " aria-label="Відгуки" ng-click="vm.scrollToComments()">
                            Відгуки
                        </md-button>
                        <div class="md-padding md-margin" layout="column" layout-gt-sm="row"
                             layout-align="center center">
                            <div flex class="md-title md-padding">Поділитись</div>
                            <div class="social-image-container" layout="row"
                                 layout-align="center center">
                                <a href=""
                                   socialshare
                                   socialshare-type="feed"
                                   socialshare-provider="facebook"
                                   socialshare-text="{{ vm.course.name.toUpperCase()}}"
                                   socialshare-caption="PALAMAR GROUP ACADEMY"
                                   socialshare-description="{{vm.getFBDescription()}}"
                                   socialshare-media="{{vm.getFBMadia()}}"
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/face.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="vk"
                                   socialshare-text="{{ vm.course.name.toUpperCase()}}"
                                   socialshare-description="{{vm.getFBDescription()}}"
                                   socialshare-media='{{vm.getFBMadia()}}'
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/vk-social-logotype.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{ 'Запрошуємо на курс '+ vm.course.name.toUpperCase() }}"
                                   socialshare-hashtags=""
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/twi.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="google"
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image"
                                             md-svg-src="../content/images/icons/social/goo.svg"></md-icon>

                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" flex >
        <div class="page-delimiter" flex>
            <div flex class="md-padding">
                <div class="" ng-repeat="day in ::vm.course.days track by $index">
                    <div layout="row" class=" program-block md-margin" layout-align=" center center">
                        <div flex="50" flex-gt-sm="20" layout="row" layout-align="  end">
                            <div class="date-block ">
                                <span class="date-text md-title">{{ day.date| date:'dd.MM'}}</span>
                            </div>
                        </div>
                        <div flex="50" flex-gt-sm="20" class="md-padding md-headline " layout="row" layout-align="  space-around end">{{
                            day.program}}
                        </div>
                    </div>


                </div>
            </div>
            <div class="overlay-forms"></div>
        </div>
    </div>

    <div layout="row" flex ng-if="vm.course.historyPhotos.length>0">
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap invers header">
                <div class="md-display-1">Медіа матеріали блоку</div>
            </div>

        </div>
    </div>
    <div layout="row" class="content-block" layout-align="center center" ng-if="vm.course.hearFormsPhotos.length>0">
        <div class=" gridListCourses" flex flex-gt-md="70" flex-md="90">
            <md-grid-list
                    md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
                    md-row-height-gt-md="1:1" md-row-height="1:1"
                    md-gutter="8px" md-gutter-gt-sm="4px">
                <md-grid-tile ng-repeat="tile in vm.course.hearFormsPhotos"
                              md-rowspan="{{1}}"
                              md-colspan="{{1}}"
                              md-colspan-sm="1"
                              md-colspan-xs="1" ng-click="::vm.showMediaObserver(vm.course.hearFormsPhotos, $index)"
                              class="grid-media">
                    <card-image-container>
                        <img src="{{::tile.url}}"/>
                    </card-image-container>

                    <md-grid-tile-footer ng-if="tile.name"><h3>{{tile.name}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!--description-->

    <div layout="row" flex >
        <div class="page-delimiter content-block"  flex>
            <div class="fit-screen-wrap" layout="column">

                    <div layout="row" layout-align="center center">
                        <div flex="50" hide-xs="true" flex-sm="70" flex-sx="90"
                             class="md-display-1 md-margin md-padding">
                            {{vm.course.description}}
                        </div>
                        <div hide-gt-xs="true" flex class="md-headline md-margin md-padding">{{vm.course.description}}
                        </div>

                </div>
            </div>
            <div class="overlay-description"></div>
        </div>
    </div>


    <!--historyPhotos-->
    <div layout="row" flex ng-if="vm.course.historyPhotos.length>0">
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap invers header">
                <div class="md-display-1">Як проходили попередні блоки</div>
            </div>

        </div>
    </div>
    <div layout="row" class="content-block" layout-align="center center" ng-if="vm.course.historyPhotos.length>0">
        <div class=" gridListCourses" flex flex-gt-md="70" flex-md="90">
            <md-grid-list md-cols="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2"
                          md-row-height-gt-md="5:3" md-row-height="5:3"
                          md-gutter="8px" md-gutter-gt-sm="4px">
                <md-grid-tile ng-repeat="tile in vm.course.historyPhotos"
                              md-rowspan="{{1}}"
                              md-colspan="{{1}}"
                              md-colspan-sm="1"
                              md-colspan-xs="1" ng-click="::vm.showMediaObserver(vm.course.historyPhotos, $index)"
                              class="grid-media">
                    <card-image-container>
                        <img src="{{::tile.url}}"/>
                    </card-image-container>
                    <md-grid-tile-footer ng-if="tile.name"><h3>{{tile.name}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>


        </div>
    </div>

    <!--Comments-->
    <div layout="row" flex>
        <div class="page-delimiter" flex>
            <div class="fit-screen-wrap header-super">
                <div class="md-display-1">Відгуки</div>
            </div>
            <div class="overlay-comments"></div>
            <!-- ng-style="{'background-image':'url({{vm.course.historyPhotos[0].url}})'}"></div>-->
        </div>
    </div>
    <div id="a001" ng-class="{'ontent-block':vm.showComments()}" layout="row" layout-align="center center">

        <div flex="70" flex-xs="100" flex-sm="92">
            <a id="comments"></a>
            <div ng-if="vm.showComments()">
                <md-list class="md-dense" flex>

                    <md-list-item class="md-2-line" ng-if="comment.isVisible"
                                  ng-repeat="comment in vm.course.comments track by $index">
                        <md-divider></md-divider>
                        <div class="md-list-item-text md-padding " layout="column" layout-align="center start">
                            <div class="md-headline " layout="row">
                                <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
                                &nbsp;
                                <span>{{ comment.name }}</span>
                            </div>
                            <div class="md-title ">{{ comment.text }}</div>
                        </div>
                    </md-list-item>

                </md-list>
            </div>
            <div layout="row"  layout-align-gt-sm="end center">
                <md-button flex flex-gt-sm="45" flex-gt-md="25"  ng-click="vm.showCommentDialog($event)" class="comment-btn xs-selected md-raised ">Додати відгук
                </md-button>
            </div>
        </div>
    </div>

</div>


