<div class="courses description-container" layout="row" layout-align="center center">
    <div layout="column" layout-align="center center">
        <div class="course-bg" layout-align="center center" flex
             ng-repeat="course in vm.courses track by $index" ng-if="::course.isVisible">
            <div hide show-gt-xs="true" layout="row" layout-align="center center">
                <md-card ng-if="$first && !$odd" flex-md="90"  flex-sm="70" flex="100"  md-whiteframe="5"
                         >
                    <md-card-content layout="row" layout-align="start none">
                        <div class="card-media " flex="50"><img src="{{course.hearFormsPhotos[0].url}}" class="md-card-image"/></div>
                        <div class="card-desc " flex="50" layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true" class="md-display-1">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-2">{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>

                    </md-card-content>
                </md-card>
                <md-card ng-if="$odd " flex-md="90"  flex-sm="70" flex="100" md-whiteframe="5" >
                    <md-card-content layout="row" layout-align="start none">
                        <div class="card-desc " flex="50" flex layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true" class="md-display-1">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-2">{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>
                        <div class="card-media " flex="50"><img src="{{course.hearFormsPhotos[0].url}}" class="md-card-image"/></div>
                    </md-card-content>
                </md-card>
                <md-card ng-if="!$first && !$odd" flex-md="90"  flex-sm="70" flex="100" md-whiteframe="5"

                >
                    <md-card-content layout="row" layout-align="start none">
                        <div class="card-media " flex="50"><img src="{{course.hearFormsPhotos[0].url}}" class="md-card-image"/></div>
                        <div class="card-desc " flex="50"  layout="column" layout-align="center center">
                            <md-card-title flex>
                                <md-card-title-text flex layout-align="space-around center">
                                    <div hide show-md="true" class="md-display-1">{{::course.name}}</div>
                                    <div hide-md="true" class="md-display-2">{{::course.name}}</div>
                                    <div hide-sm="true" class="descr-container">
                                        <div class="md-title">{{::course.description}}</div>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions flex="25">
                                <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                           ng-click="vm.showDetails(course._id)">
                                    Деталі
                                </md-button>
                            </md-card-actions>
                        </div>

                    </md-card-content>
                </md-card>
                <div class="overlay-bg"></div>
            </div>

            <div hide-gt-xs="true" layout="row" layout-align="center center">
                <div class="overlay-bg"></div>
                <md-card md-whiteframe="8" >
                    <md-card-content layout="column">
                        <div class="card-media "><img src="{{course.hearFormsPhotos[0].url}}" class="md-card-image" /></div>
                        <div class="card-desc " layout="column" layout-align="space-around center">
                            <md-card-title>
                                <md-card-title-text >
                                    <div class="md-display-1">{{::course.name}}</div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-button class="xs-selected md-display-1 md-raised " aria-label="Details"
                                       ng-click="vm.showDetails(course._id)">Деталі
                            </md-button>
                        </div>
                    </md-card-content>

                </md-card>
            </div>
        </div>
    </div>
</div>


