<div layout="row" layout-align="center">

    <div flex="75" flex-xs="100" class=" course-divider" flex-sm="92" layout-align="center center">
        <div layout="row" layout-wrap layout-align="center " layout-align-xs=" center end"
             class="course-nz-index: 0;ame">
            <md-button
                    style=" left:0;top:97px; position: fixed;z-index: 1;"
                    class="md-fab course-back-small-fab" ng-click="vm.backToHome()">
                <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
            </md-button>
            <h2 hide-xs>{{::vm.course.name}}</h2>
            <h3 hide-gt-xs style=" left:100px;top:97px; ">{{::vm.course.name}}</h3>
        </div>
        <div layout="row">
            <md-card>
                <img hide-gt-sm ng-src="{{::vm.course.author.photoUrl}}" class="md-card-image md-padding"/>
                <md-card-title>
                    <md-card-title-media>
                        <img hide-sm show-gt-sm hide-xs class="md-card-image md-padding"
                             ng-src="{{::vm.course.author.photoUrl}}"/>
                        <div   layout="column" layout-gt-md="row"
                                layout-align="center center">
                            <span>Поділитись &nbsp;&nbsp;</span>
                            <div class="social-image-container"  layout="row"
                                 layout-align="center center">
                                <a href=""
                                   socialshare
                                   socialshare-type="feed"
                                   socialshare-provider="facebook"
                                   socialshare-text="{{ vm.course.name.toUpperCase()}}"
                                   socialshare-caption="PALAMAR GROUP ACADEMY"
                                   socialshare-description="{{vm.getFBDescription()}}"
                                   socialshare-media="{{vm.getFBMadia()}}"
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image" md-svg-src="../content/images/face.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="vk"
                                   socialshare-text="{{ vm.course.name.toUpperCase()}}"
                                   socialshare-description="{{vm.getFBDescription()}}"
                                   socialshare-media='{{vm.getFBMadia()}}'
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image" md-svg-src="../content/images/vk-social-logotype.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{ 'Запрошуємо на курс '+ vm.course.name.toUpperCase() }}"
                                   socialshare-hashtags=""
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image" md-svg-src="../content/images/twi.svg"></md-icon>
                                </a>
                                <a href=""
                                   socialshare
                                   socialshare-provider="google"
                                   socialshare-url="{{vm.localURL}}">
                                    <md-icon class="social-image" md-svg-src="../content/images/goo.svg"></md-icon>

                                </a>



                            </div>


                        </div>

                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">Автор {{ ::vm.course.author.name}}</span>
                        <span class="md-subhead">Дати проведення модуля</span>
                        <span class="md-subhead" ng-repeat="date in ::vm.course.courseModulesDates track by $index">{{ date| date:'dd.MM.yyyy'}} </span>
                        <span class="md-headline">Ціна {{ ::vm.course.price}}  грн</span>
                        <span class="md-subhead"> {{::vm.course.description}}</span>
                        <div flex layout layout-wrap layout-align="end center">


                            <md-button class="  order-btn"
                                       aria-label="Відгуки" ng-click="vm.scrollToComments()">
                                Відгуки


                            </md-button>
                            <md-button ng-show="!vm.formVisible" class="  order-btn"
                                       aria-label="Play" ng-click="vm.showForm()">
                                Записатись
                            </md-button>

                            <md-button ng-show="!vm.formVisible" class="  order-btn"
                                       aria-label="Play" ng-click="vm.showModelForm()">
                                Стати моделлю
                            </md-button>
                        </div>
                        <div ng-include="'app/courses/views/order.html'">
                        </div>
                        <div ng-include="'app/courses/views/model.form.html'">
                        </div>
                    </md-card-title-text>

                </md-card-title>

            </md-card>

        </div>
        <div flex layout layout-wrap layout-align="center " ng-if="vm.course.hearFormsPhotos.length>0">
            <h3>Теми модуля</h3>
        </div>
        <div class="courses course-inner" layout layout-wrap layout-align="center ">
            <md-card ng-click="::vm.showMediaObserver(vm.course.hearFormsPhotos, $index)"
                     ng-repeat="photo in ::vm.course.hearFormsPhotos" class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{::photo.url}}" class="md-card-image">
                </card-image-container>
                <md-card-content layout="column" layout-align="center center" ng-if="::photo.name">
                    <h4>{{::photo.name}}</h4>

                </md-card-content>
            </md-card>
        </div>
        <div flex layout layout-wrap layout-align="center " ng-if="vm.course.historyPhotos.length>0">
            <h3>Фото Попередніх модулів</h3>
        </div>
        <div class="courses-history" layout layout-wrap layout-align="center ">
            <md-card ng-click="::vm.showMediaObserver(vm.course.historyPhotos, $index)"
                     ng-repeat="photo in ::vm.course.historyPhotos" class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{::photo.url}}" class="md-card-image">
                </card-image-container>

                <md-card-content layout="column" layout-align="center center" ng-if="::photo.name">
                    <h4>{{::photo.name}}</h4>
                </md-card-content>
            </md-card>
        </div>
    </div>

</div>

<div id="a001" layout="row" layout-align="center">

    <div flex="75" flex-xs="100" flex-sm="92" layout-align="center center">
        <a id="comments"></a>
        <div flex layout layout-wrap layout-align="center " ng-if="vm.showComments()">
            <h3>Відгуки</h3>
        </div>
        <div layout layout-wrap layout-align=" start">
            <md-list class="md-dense" flex>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-if="comment.isVisible" ng-repeat="comment in vm.course.comments track by $index">
                    <md-divider></md-divider>
                    <div class="md-list-item-text md-padding" layout="column">
                        <b class=" md-padding">{{ comment.name }}</b>
                        <h3 class=" md-padding">{{ comment.text }}</h3>
                    </div>
                </md-list-item>

            </md-list>
        </div>
        <div flex layout layout-wrap layout-align="center ">
            <h3>Додати відгук</h3>
        </div>
        <div class="md-padding" layout="column" layout-wrap layout-align="center ">

            <md-input-container class="md-block ">
                <label for="name">Ім`я </label>
                <input id="name" ng-model="vm.newComment.name" name="name"/>
                <!--TODO add validation-->
            </md-input-container>
            <md-input-container class="md-block">

                <label for="text">Відгук</label>
                <input id="text" ng-model="vm.newComment.text" type="text" name="text">
            </md-input-container>
            <div layout="row" layout-align="end center" md-whiteframe="4">
                <md-button ng-click="vm.newComment.text='';vm.newComment.name='';" class=" md-raised detail-cancel-btn">Cкасувати</md-button>
                <md-button ng-click="vm.submitComment()" class="  order-btn">Зберегти</md-button>
            </div>

        </div>
    </div>
</div>