<md-dialog aria-label="ЗАПИСАТИСЬ НА БЛОК" layout="column" flex-sm="85" flex-xs="95" flex-gt-sm="65" flex>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools md-padding ">
            <h2 class=" md-padding ">ЗАПОВНІТЬ АНКЕТУ ЩОБ СТАТИ МОДЕЛЛЮ</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-svg-src="navigation:ic_cancel_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="orderForm" class="md-padding  pop-form" novalidate flex layout="column">
        <md-dialog-content>
            <md-dialog-content-body>
                <md-input-container class="md-block">
                    <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
                    <label for="name">Як до вас звертатися</label>
                    <input id="name" ng-model="vm.newModel.name" type="text" name="name">
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
                    <label for="email">email</label>
                    <input id="email" ng-model="vm.newModel.email" type="text" name="email">
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon md-svg-icon="communication:ic_call_24px"></md-icon>
                    <label for="phone">Телефон</label>
                    <input id="phone" ng-model="vm.newModel.phone" type="text" name="phone">
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon md-svg-icon="communication:ic_chat_24px"></md-icon>
                    <label for="comment">Додаткова інформація</label>
                    <textarea id="comment" ng-model="vm.newModel.comment" name="comment"></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <span class="md-headline">Завантажте свої фото у різних ракурсах як на прикладі нижче.</span>
                </md-input-container>

                <div class=" model-card " layout="row" layout-wrap layout-align="center ">
                    <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                             flex-gt-sm="46" flex-xs="80">

                        <img ng-src="{{vm.newModel.fasPhotoUrl}}">

                        <md-card-content layout="column" layout-align="center center">
                            <span class="md-headline">Фото ан фас</span>
                            <choose-file-button>
                                <md-button aria-label="Upload a file" class="detail-btn  ">
                                    Виберіть файл
                                </md-button>
                                <input type="file" ngf-select="vm.saveModelPhoto(fasPhotoUrlFile,'fasPhotoUrl')"
                                       ng-model="fasPhotoUrlFile" name="fasPhotoUrlFile"
                                       accept="image/*" required/>
                            </choose-file-button>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                             flex-gt-sm="46" flex-xs="80">
                        <card-image-container>
                            <img ng-src="{{vm.newModel.profilePhotoUrl}}"
                            >
                        </card-image-container>
                        <md-card-content layout="column" layout-align="center center">
                            <span class="md-headline">Фото в профіль</span>
                            <choose-file-button>
                                <md-button aria-label="Upload a file" class="detail-btn  ">
                                    Виберіть файл
                                </md-button>
                                <input type="file" ngf-select="vm.saveModelPhoto(profilePhotoFile,'profilePhotoUrl')"
                                       ng-model="profilePhotoFile" name="profilePhotoFile"
                                       accept="image/*" required/>
                            </choose-file-button>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                             flex-gt-sm="46" flex-xs="80">
                        <card-image-container>
                            <img ng-src="{{vm.newModel.backPhotoUrl}}">
                        </card-image-container>
                        <md-card-content layout="column" layout-align="center center">
                            <span class="md-headline">Фото вид ззаду</span>
                            <choose-file-button>
                                <md-button aria-label="Upload a file" class="detail-btn  ">
                                    Виберіть файл
                                </md-button>
                                <input type="file" ngf-select="vm.saveModelPhoto(backPhotoFile,'backPhotoUrl')"
                                       ng-model="backPhotoFile"
                                       name="backPhotoFile"
                                       accept="image/*" required/>
                            </choose-file-button>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                             flex-gt-sm="46" flex-xs="80">
                        <card-image-container>
                            <img ng-src="{{vm.newModel.fullSizePhotoUrl}}">
                        </card-image-container>

                        <md-card-content class="model-card-content" layout="column" layout-align="center center">
                            <span class="md-headline">Фото в повний ріст</span>
                            <choose-file-button>
                                <md-button aria-label="Upload a file" class="detail-btn  ">
                                    Виберіть файл
                                </md-button>
                                <input type="file" ngf-select="vm.saveModelPhoto(fullSizeFile,'fullSizePhotoUrl')"
                                       ng-model="fullSizeFile" name="fullSizeFile"
                                       accept="image/*" required/>
                            </choose-file-button>
                        </md-card-content>
                    </md-card>
                </div>
            </md-dialog-content-body>
        </md-dialog-content>

        <md-dialog-actions class="md-padding model-save" layout-align-xs="center-center" md-whiteframe="2">
            <md-button ng-click="vm.submitModel(orderForm)" class="xs-selected md-raised md-margin">НАДІСЛАТИ
            </md-button>
        </md-dialog-actions>


    </form>
</md-dialog>