<media-observer>
    <div class="top-menu">
        <span>
                 <a href=""
                    socialshare
                    socialshare-type="feed"
                    socialshare-provider="facebook"
                    socialshare-text="{{ vm.socialParams.title}}"
                    socialshare-caption="PALAMAR GROUP ACADEMY"
                    socialshare-description="{{vm.socialParams.description}}"
                    socialshare-media="{{vm.socialParams.image}}"
                    socialshare-url="{{vm.socialParams.target}}">
                                    <md-icon class="md-social-image"
                                             md-svg-src="../content/images/icons/social/face.svg"></md-icon>
                                </a>
                  <a href=""
                                   socialshare
                                   socialshare-provider="vk"
                                   socialshare-text="{{ vm.socialParams.title}}"
                                   socialshare-description="{{vm.socialParams.description}}"
                                   socialshare-media='{{vm.socialParams.image}}'
                                   socialshare-url="{{vm.socialParams.target}}">
                                    <md-icon class="md-social-image"
                                             md-svg-src="../content/images/icons/social/vk-social-logotype.svg"></md-icon>
                                </a>
                  <a href=""
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{ 'Запрошуємо на блок '+ vm.socialParams.title }}"
                                   socialshare-hashtags=""
                                   socialshare-url="{{vm.socialParams.target}}">
                                    <md-icon class="md-social-image"
                                             md-svg-src="../content/images/icons/social/twi.svg"></md-icon>
                                </a>
                  <a href=""
                                   socialshare
                                   socialshare-provider="google"
                                   socialshare-url="{{vm.socialParams.target}}">
                                    <md-icon class="md-social-image"
                                             md-svg-src="../content/images/icons/social/goo.svg"></md-icon>

                                </a>
        </span>
        <span>
            <md-icon ng-click="vm.close()" md-svg-icon="navigation:ic_close_24px"></md-icon>
        </span>
    </div>
    <div class="container">
        <prev ng-click="vm.prev()">
            <div>
                <md-icon md-svg-icon="navigation:ic_arrow_back_24px">
                </md-icon>
            </div>
        </prev>
        <div class="img-container" ng-click="vm.next()">
            <!--<img ng-repeat="item in vm.items" ng-src="{{item.url}}" ng-class="{'active': $index == vm.index}">-->
            <img ng-if="!vm.isVideo()" ng-src="{{vm.img.current.url}}">
        </div>

        <next ng-click="vm.next()">
            <div>
                <md-icon md-svg-icon="navigation:ic_arrow_forward_24px">
                </md-icon>
            </div>
        </next>
    </div>
</media-observer>