<md-tabs md-stretch-tabs="always" md-dynamic-height md-selected="vm.tabSelectedIndex">
    <md-tab label="Курси">
        <div ng-if="!vm.showCourseEditForm" ng-repeat="item in vm.courses" ng-click="null"
             layout="row" class=" md-margin">
            <img ng-src="{{item.hearFormsPhotos[0].url}}?{{$index}}" class="module-avatar"/>
            <div class="md-list-item-text" layout="column">
                <h3 class="md-margin">{{ item.name }}</h3>
                <div layout="row" layout-align="center center">
                    <md-button class="  md-raised" ng-click="vm.deleteCourse(item)">Видалити</md-button>
                    <md-button class=" md-primary md-raised" ng-click="vm.showEditForm(item)">Редагувати</md-button>
                    <md-button class="md-raised" ng-click="vm.cloneCourse(item)">Клонувати</md-button>
                </div>
            </div>
        </div>
        <div flex ng-if="vm.showCourseEditForm" ng-include="'app/admin/academy/views/course.edit.form.html'"></div>
    </md-tab>
    <md-tab label="Додати курс">
        <div ng-include="'app/admin/academy/views/course.create.form.html'"></div>
    </md-tab>
</md-tabs>





