<form flex name="editCorseForm" class="md-padding " novalidate ng-submit="vm.editCourse(editCorseForm)">
    <md-content>
        <md-input-container class="md-block ">
            <md-checkbox ng-model="vm.editCourseModel.isVisible" aria-label="Finished?">
                Показати на сайті
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block ">
            <label for="name">Назва</label>
            <input id="name" ng-model="vm.editCourseModel.name" name="name"/>
            <!--TODO add validation-->
        </md-input-container>
        <md-input-container class="md-block">
            <label for="description">Опис</label>
            <input ng-model="vm.editCourseModel.description" id="description" name="description">
        </md-input-container>
        <md-input-container class="md-block ">
            <label for="order">Порядок відображення</label>
            <input id="order" ng-model="vm.editCourseModel.order" name="order" type="number"/>
        </md-input-container>
        <md-input-container class="md-block ">
            <label for="price">Ціна</label>
            <input id="price" ng-model="vm.editCourseModel.price" name="price" type="number"/>
        </md-input-container>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <!--dates-->
        <div flex>
            <md-subheader class="md-no-sticky">Дати модулів</md-subheader>
            <div class="md-1-line" ng-repeat="date in vm.editCourseModel.courseModulesDates | date track by $index">
                {{ date| date:'dd.MM.yyyy'}}
                <md-button class="  md-raised" ng-click="vm.deleteFromList(vm.editCourseModel.courseModulesDates,date)">
                    Видалити
                </md-button>
            </div>
        </div>
        <label for="price">Додати дату</label>
        <md-datepicker ng-model="vm.editCourseModel.newDateModel"></md-datepicker>
        <md-button class="md-raised" ng-click="vm.saveModuleDate(vm.editCourseModel,vm.editCourseModel.newDateModel)">
            Зберегти
        </md-button>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <!--author-->
        <md-input-container class="md-block ">
            <label for="nameauthor">Ім`я автора</label>
            <input id="nameauthor" ng-model="vm.editCourseModel.author.name" name="nameauthor"/>
        </md-input-container>
        <div>
            <label for="price">Фото автора</label>
            <img ng-src="{{vm.editCourseModel.author.photoUrl}}"/>
            <br/>
            <md-button ng-if="!vm.showAuthorPhotoUpload" class="md-raised" ng-click="vm.showAuthorPhotoUpload=true">
                Змінити фото автора
            </md-button>
            <div ng-if="vm.showAuthorPhotoUpload">
                <md-button ngf-select ng-model="authorPhotoFile" accept="image/*" class="md-raised">
                    Вибрати файл
                </md-button>
                <div ngf-drop ng-model="authorPhotoFile" ngf-pattern="image/*"
                     class="cropArea">
                    <img-crop area-type="rectangle" result-image-size="{w:300,h:300}" aspect-ratio="1" init-max-area="true"
                              image="authorPhotoFile  | ngfDataUrl"
                              result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                </div>
                <div>
                    <img ng-src="{{croppedDataUrl}}"/>
                </div>
                <md-button class="md-primary"
                           ng-click="vm.uploadAuthorPhoto(croppedDataUrl, authorPhotoFile.name,vm.editCourseModel)">
                    Завантажити
                </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <!--hearForm-->
        <div flex>
            <md-subheader class="md-no-sticky">Форми модулів</md-subheader>
            <div layout="row" ng-repeat="item in vm.editCourseModel.hearFormsPhotos" ng-click="null">
                <img ng-src="{{item.url}}"/>
                <div layout="column">
                    <md-input-container class="md-block  ">
                        <label for="photoName">Назва форми</label>
                        <input id="photoName" ng-model="item.name" name="photoName"/>
                    </md-input-container>
                    <md-input-container class="md-block  ">
                        <label for="ord">Порядок відображення</label>
                        <input id="ord" ng-model="item.order" type="number"/>
                    </md-input-container>
                    <md-button class="  md-raised"
                               ng-click="vm.deleteFromList(vm.editCourseModel.hearFormsPhotos,item)">
                        Видалити
                    </md-button>
                </div>
            </div>
        </div>
        <div>
            <md-button ng-if="!vm.showFormPhotoUpload" class="md-raised" ng-click="vm.showFormPhotoUpload=true">
                Додати форму
            </md-button>
            <div ng-if="vm.showFormPhotoUpload">
                <md-button ngf-select ng-model="hearFormsFile" accept="image/*" class="md-raised">
                    Вибрати файл
                </md-button>
                <div ngf-drop ng-model="hearFormsFile" ngf-pattern="image/*"
                     class="cropArea">
                    <img-crop area-type="rectangle" result-image-size="{w:403,h:604}" aspect-ratio="0.67"  init-max-area="true"
                              image="hearFormsFile  | ngfDataUrl"
                              result-image="croppedHearFormsFile" ng-init="croppedHearFormsFile=''">
                    </img-crop>
                </div>
                <div>
                    <img ng-src="{{croppedHearFormsFile}}"/>
                </div>
                <md-button class="md-primary"
                           ng-click="vm.uploadCollPhoto(croppedHearFormsFile, hearFormsFile.name,vm.editCourseModel.hearFormsPhotos)">
                    Завантажити
                </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <!--history-->
        <div flex>
            <md-subheader class="md-no-sticky">Форми історії попередніх модулів</md-subheader>
            <div layout="row" ng-repeat="item in vm.editCourseModel.historyPhotos track by $index"
                 ng-click="null">
                <img ng-src="{{item.url}}" class="module-history-img"/>
                <div layout="column">
                    <md-input-container class="md-block  ">
                        <label for="historyNme">Назва форми</label>
                        <input id="historyNme" ng-model="item.name" name="historyNme"/>
                    </md-input-container>
                    <md-input-container class="md-block  ">
                        <label for="ord">Порядок відображення</label>
                        <input id="ord" ng-model="item.order" type="number"/>
                    </md-input-container>
                    <md-button class="  md-raised"
                               ng-click="vm.deleteFromList(vm.editCourseModel.historyPhotos,item)">
                        Видалити
                    </md-button>
                </div>
            </div>
        </div>
        <div>
            <md-button ng-if="!vm.showHistoryPhotoUpload" class="md-raised" ng-click="vm.showHistoryPhotoUpload=true">
                Додати фото історії
            </md-button>
            <div ng-if="vm.showHistoryPhotoUpload">
                <md-button ngf-select ng-model="historyPhotoFile" accept="image/*" class="md-raised">
                    Вибрати файл
                </md-button>
                <div ngf-drop ng-model="historyPhotoFile" ngf-pattern="image/*"
                     class="cropArea">
                    <img-crop area-type="rectangle" result-image-size="{w:960,h:720}" aspect-ratio="1.33" init-max-area="true"
                              image="historyPhotoFile  | ngfDataUrl"
                              result-image="croppedHistoryPhotoFile" ng-init="croppedHistoryPhotoFile=''">
                    </img-crop>
                </div>
                <div>
                    <img ng-src="{{croppedHistoryPhotoFile}}"/>
                </div>
                <md-button class="md-primary"
                           ng-click="vm.uploadCollPhoto(croppedHistoryPhotoFile, historyPhotoFile.name,vm.editCourseModel.historyPhotos)">
                    Завантажити
                </md-button>
            </div>
        </div>
    </md-content>
    <div layout="row" md-whiteframe="4">
        <md-button class="md-raised md-primary" ng-click="vm.showCourseEditForm = false;">Скасувати</md-button>
        <md-button type="submit" class="md-raised md-accent">Зберегти</md-button>
    </div>
</form>

