<md-subheader class="md-no-sticky">Розсилка</md-subheader>

<md-tabs md-selected="vm.selectedTab" md-stretch-tabs="always" md-dynamic-height md-border-bottom>
    <md-tab label="Контакти">
        <div ng-if="!vm.showSalonEditForm" ng-repeat="item in vm.salons" ng-click="null" layout="row"
             class=" md-margin">
            <div layout="column">
                <span ng-if="item.name"><b>ім`я:</b> {{item.name}}</span>
                <span ng-if="item.phone"><b>телефон: </b>{{item.phone}}</span>
                <span ng-if="item.email"><b>email</b>: <a href="mailto:{{item.email}}">{{item.email}}</a></span>


                <div ng-if="::$root.it.can('modifyAcademy')" layout="row" layout-align="center end">
                    <md-button class="  md-raised" ng-click="vm.showDeleteDialog(item)">Видалити</md-button>
                    <md-button class=" md-primary md-raised" ng-click="vm.showEditForm(item)">Редагувати
                    </md-button>
                </div>
            </div>

        </div>
        <pg-salon-client-form
                ng-if="vm.showSalonEditForm"
                model="vm.editSalonModel"
                on-save="vm.editSalon(salonClient)"
                on-cancel="vm.showListTab()"
        >
        </pg-salon-client-form>

    </md-tab>
    <md-tab label="Додати контакт" ng-if="::$root.it.can('modifyAcademy')">
        <pg-salon-client-form
                model="null"
                on-save="::$root.it.can('modifyAcademy') && vm.createSalon(salonClient)"
                on-cancel="vm.showListTab()"
        ></pg-salon-client-form>
    </md-tab>
    <md-tab label="Email розсилка" ng-if="::$root.it.can('modifyAcademy')">
        <pg-email-adv courses="vm.courses" groups="vm.salonGroups"></pg-email-adv>
    </md-tab>
</md-tabs>