<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools md-padding " style="color:white;">
        <h2 class=" md-padding ">Редагувати модель</h2>
        <span flex></span>
    </div>
</md-toolbar>
<form name="editModelForm" class="md-padding " novalidate ng-submit="vm.editModel(editModelForm)">
    <md-content>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
            <label for="name">Ім`я моделі</label>
            <input id="name" ng-model="vm.editModelModel.name" type="text" name="name">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
            <label for="email">email</label>
            <input id="email" ng-model="vm.editModelModel.email" type="text" name="email">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_phonelink_ring_24px"></md-icon>
            <label for="phone">Телефон</label>
            <input id="phone" ng-model="vm.editModelModel.phone" type="text" name="phone">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="address">Адреса</label>
            <input id="address" ng-model="vm.editModelModel.address" type="text" name="address">
        </md-input-container>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div class="courses course-inner" layout layout-wrap layout-align="center ">
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <img  ng-if="vm.editModelModel.fasPhotoUrl" ng-src="{{vm.editModelModel.fasPhotoUrl}}" class="md-card-image">
                <img  ng-if="!vm.editModelModel.fasPhotoUrl" ng-src="../content/images/fas.jpg" class="md-card-image">

                <md-card-content layout="column" layout-align="center center">
                    <div>
                        <input type="file" ngf-select ng-model="fasPhotoUrlFile" name="fasPhotoUrlFile"
                               accept="image/*" required/>
                        <md-button class="md-raised" ng-disabled="!fasPhotoUrlFile"
                                   ng-click="vm.saveModelFas(fasPhotoUrlFile)">
                            Завантажити
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">

                <img tyle="width:70px;" ng-if="vm.editModelModel.profilePhotoUrl" ng-src="{{::vm.newModel.profilePhotoUrl}}" class="md-card-image">
                <img ng-if="!vm.editModelModel.profilePhotoUrl" ng-src="../content/images/model-profile.jpg" class="md-card-image">
                <md-card-content layout="column" layout-align="center center">
                    <div>
                        <input type="file" ngf-select ng-model="profilePhotoFile" name="profilePhotoFile"
                               accept="image/*" required/>
                        <md-button class="md-raised" ng-disabled="!profilePhotoFile"
                                   ng-click="vm.saveModelProfile(profilePhotoFile)">
                            Завантажити
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <img ng-if="vm.newModel.backPhotoUrl" ng-src="{{::vm.newModel.backPhotoUrl}}" class="md-card-image">
                <img ng-if="!vm.newModel.backPhotoUrl" ng-src="../content/images/back.jpg" class="md-card-image">
                <md-card-content layout="column" layout-align="center center">
                    <div>
                        <input type="file" ngf-select ng-model="fasPhotoUrlFile" name="fasPhotoUrlFile"
                               accept="image/*" required/>
                        <md-button class="md-raised" ng-disabled="!fasPhotoUrlFile"
                                   ng-click="vm.saveModelback(fasPhotoUrlFile)">
                            Завантажити
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">

                <img ng-if="vm.newModel.fullSizePhotoUrl" ng-src="{{::vm.newModel.fullSizePhotoUrl}}" class="md-card-image">
                <img ng-if="!vm.newModel.fullSizePhotoUrl" ng-src="../content/images/fullsize.jpg" class="md-card-image">
                <md-card-content layout="column" layout-align="center center">
                    <div>
                        <input type="file" ngf-select ng-model="fullSizeFile" name="fullSizeFile"
                               accept="image/*" required/>
                        <md-button class="md-raised" ng-disabled="!fullSizeFile"
                                   ng-click="vm.saveModelFullSize(fullSizeFile)">
                            Завантажити
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </md-content>
    <div layout="row" md-whiteframe="4">
        <md-button class="md-raised md-primary" ng-click="vm.showModelEditForm = false">Скасувати</md-button>
        <md-button type="submit" class="md-raised md-accent">Зберегти</md-button>
    </div>
</form>

