<form name="editModelForm" class="md-padding " novalidate ng-submit="vm.editModel(editModelForm)">
    <md-content>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
            <label for="name">Ім`я моделі</label>
            <input id="name" ng-model="vm.editModelModel.name" type="text" name="name">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
            <label for="email">email</label>
            <input id="email" ng-model="vm.editModelModel.email" type="text" name="email">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_phonelink_ring_24px"></md-icon>
            <label for="phone">Телефон</label>
            <input id="phone" ng-model="vm.editModelModel.phone" type="text" name="phone">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="address">Адреса</label>
            <input id="address" ng-model="vm.editModelModel.address" type="text" name="address">
        </md-input-container>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div class=" model-card " layout="row" layout-wrap layout-align="center ">
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{vm.editModelModel.fasPhotoUrl}}" >
                </card-image-container>
                <md-card-content layout="column" layout-align="center center">
                    <span>Фото ан фас</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                        <input type="file" ngf-select="vm.saveEditModelPhoto(fasPhotoUrlFile,'fasPhotoUrl')"
                               ng-model="fasPhotoUrlFile" name="fasPhotoUrlFile"
                               accept="image/*" />
                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{vm.editModelModel.profilePhotoUrl}}"
                         >
                </card-image-container>
                <md-card-content layout="column" layout-align="center center">
                    <span>Фото в профіль</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                        <input type="file" ngf-select="vm.saveEditModelPhoto(profilePhotoFile,'profilePhotoUrl')"
                               ng-model="profilePhotoFile" name="profilePhotoFile"
                               accept="image/*" />
                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{vm.editModelModel.backPhotoUrl}}" >
                </card-image-container>
                <md-card-content layout="column" layout-align="center center">
                    <span>Фото вид ззаду</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                        <input type="file" ngf-select="vm.saveEditModelPhoto(backPhotoFile,'backPhotoUrl')"
                               ng-model="backPhotoFile"
                               name="backPhotoFile"
                               accept="image/*" />
                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <card-image-container>
                    <img ng-src="{{vm.editModelModel.fullSizePhotoUrl}}" >
                </card-image-container>

                <md-card-content class="model-card-content" layout="column" layout-align="center center">
                    <span>Фото в повний ріст</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                        <input type="file" ngf-select="vm.saveEditModelPhoto(fullSizeFile,'fullSizePhotoUrl')"
                               ng-model="fullSizeFile" name="fullSizeFile"
                               accept="image/*" />
                        </choose-file-button>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <div layout="row" md-whiteframe="4">
        <md-button class="md-raised md-primary" ng-click="vm.showModelEditForm = false">Скасувати</md-button>
        <md-button type="submit" class="md-raised md-accent">Зберегти</md-button>
    </div>
</form>

