<form flex name="editModelForm" class="md-padding " novalidate ng-submit="vm.editModel(editModelForm)">
    <div layout="row" layout-align=" end center" >
        <md-button type="submit" class="md-raised md-accent ">Зберегти</md-button>
    </div>
    <md-content>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
            <label for="name">Ім`я моделі</label>
            <input id="name" ng-model="vm.editModelModel.name" type="text" name="name">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
            <label for="email">email</label>
            <input id="email" ng-model="vm.editModelModel.email" type="text" name="email">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_phonelink_ring_24px"></md-icon>
            <label for="phone">Телефон</label>
            <input id="phone" ng-model="vm.editModelModel.phone" type="text" name="phone">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="address">Адреса</label>
            <input id="address" ng-model="vm.editModelModel.address" type="text" name="address">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="comment">Комент</label>
            <input id="comment" ng-model="vm.editModelModel.comment" type="text" name="comment">
        </md-input-container>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div class=" model-card " layout="row" layout-wrap layout-align="center ">
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <input class="hide_file" type="file" ngf-resize="{width: 400, quality: .9}"
                       ngf-select="vm.saveEditModelPhoto(fasPhotoUrlFile,'fasPhotoUrl')"
                       ng-model="fasPhotoUrlFile" name="fasPhotoUrlFile"
                       accept="image/*" required/>
                <img class="not-resize" ng-src="{{vm.editModelModel.fasPhotoUrl}}">

                <md-card-content layout="column" layout-align="center center">
                    <span class="md-headline">Фото ан фас</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>

                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <input type="file" class="hide_file" ngf-resize="{width: 400, quality: .9}"
                       ngf-select="vm.saveEditModelPhoto(profilePhotoFile,'profilePhotoUrl')"
                       ng-model="profilePhotoFile" name="profilePhotoFile"
                       accept="image/*" required/>
                <img class="not-resize" ng-src="{{vm.editModelModel.profilePhotoUrl}}"
                >
                <md-card-content layout="column" layout-align="center center">
                    <span class="md-headline">Фото в профіль</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <input class="hide_file" type="file" ngf-resize="{width: 400,  quality: .9}"
                       ngf-select="vm.saveEditModelPhoto(backPhotoFile,'backPhotoUrl')"
                       ng-model="backPhotoFile"
                       name="backPhotoFile"
                       accept="image/*" required/>
                <img class="not-resize" ng-src="{{vm.editModelModel.backPhotoUrl}}">
                <md-card-content layout="column" layout-align="center center">
                    <span class="md-headline">Фото вид ззаду</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                    </choose-file-button>
                </md-card-content>
            </md-card>
            <md-card class="md-margin" flex-gt-md="22" flex-md="46"
                     flex-gt-sm="46" flex-xs="80">
                <input class="hide_file" type="file" ngf-resize="{width: 400, quality: .9}"
                       ngf-select="vm.saveEditModelPhoto(fullSizeFile,'fullSizePhotoUrl')"
                       ng-model="fullSizeFile" name="fullSizeFile"
                       accept="image/*" required/>
                <img class="not-resize" ng-src="{{vm.editModelModel.fullSizePhotoUrl}}">
                <md-card-content class="model-card-content" layout="column" layout-align="center center">
                    <span class="md-headline">Фото в повний ріст</span>
                    <choose-file-button>
                        <md-button aria-label="Upload a file" class="detail-btn  ">
                            Виберіть файл
                        </md-button>
                    </choose-file-button>
                </md-card-content>
            </md-card>
        </div>
    </md-content>

</form>

