<md-subheader class="md-no-sticky">Моделі</md-subheader>
<md-tabs md-stretch-tabs="always" md-dynamic-height >
    <md-tab label="Моделі">
        <div ng-if="!vm.showModelCreateForm && !vm.showModelEditForm" ng-repeat="item in vm.models track by $index" ng-click="null" layout="row"
             class=" md-margin">
            <img ng-src="{{item.fasPhotoUrl}}?{{$index}}" class="module-avatar"/>
            <img ng-src="{{item.profilePhotoUrl}}?{{$index}}" class="module-avatar"/>
            <img ng-src="{{item.backPhotoUrl}}?{{$index}}" class="module-avatar"/>
            <img ng-src="{{item.fullSizePhotoUrl}}?{{$index}}" class="module-avatar"/>
            <div layout="column">
                <span ng-if="item.name"><b>ім`я:</b> {{item.name}}</span>
                <span ng-if="item.phone"><b>телефон: </b>{{item.phone}}</span>
                <span ng-if="item.email"><b>email</b>: <a href="mailto:{{item.email}}">{{item.email}}</a></span>

                <div layout="row" layout-align="center end">
                    <md-button class="  md-raised" ng-click="vm.deleteModel(item)">Видалити</md-button>
                    <md-button class=" md-primary md-raised" ng-click="vm.showEditForm(item)">Редагувати</md-button>
                </div>
            </div>

        </div>
        <div flex ng-if="vm.showModelEditForm"
             ng-include="'app/admin/academy/views/model.edit.form.html'"></div>
    </md-tab>
    <md-tab label="Додати модель">
        <div ng-include="'app/admin/academy/views/model.create.form.html'"></div>
    </md-tab>
</md-tabs>



