<md-toolbar>
    <div class="md-toolbar-tools">
        <h1>Моделі</h1>
        <span flex></span>
        <pg-admin-paging
                params="$ctrl.paging"
                on-prev="$ctrl.prev()"
                on-next="$ctrl.next()"
        ></pg-admin-paging>
    </div>
</md-toolbar>

<md-tabs flex md-border-bottom >
    <md-tab label="Моделі">
        <md-list flex>
            <md-list-item class="md-1-line models-item"  ng-click="$root.it.can('modifyAcademy') && vm.showEditForm(item)"
         ng-if="!vm.showModelCreateForm && !vm.showModelEditForm" ng-repeat="item in vm.models track by $index"
             class=" md-margin md-title">


                <div class="md-margin" layout="row" layout-align="space-around end">
                    <md-icon ng-if="::$root.it.can('modifyAcademy')" ng-click="vm.showEditForm(item)" class="md-secondary" md-svg-icon="content:ic_create_24px">
                        <md-tooltip>Редагувати</md-tooltip>
                    </md-icon>
                    <md-icon ng-if="::$root.it.can('modifyAcademy')" ng-click="vm.showDeleteDialog($event, item)" class="md-secondary"
                             md-svg-icon="action:ic_delete_24px">
                        <md-tooltip >Видалити</md-tooltip>
                    </md-icon>
                </div>


                    <img style="heigth:40px;width:40px;" ng-src="{{item.fasPhotoUrl}}?{{$index}}" class="model-avatar md-margin"/>
                    <img style="heigth:40px;width:40px;" ng-src="{{item.profilePhotoUrl}}?{{$index}}" class="model-avatar md-margin"/>
                    <img style="heigth:40px;width:40px;" ng-src="{{item.backPhotoUrl}}?{{$index}}" class="model-avatar md-margin"/>
                    <img style="heigth:40px;width:40px;" ng-src="{{item.fullSizePhotoUrl}}?{{$index}}" class="model-avatar md-margin"/>


                <md-divider></md-divider>
            <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <div flex ng-if="vm.showModelEditForm"
             ng-include="'app/admin/academy/views/model.edit.form.html'"></div>
    </md-tab>
    <md-tab label="Додати модель" ng-if="::$root.it.can('modifyAcademy')">
        <div flex ng-include="'app/admin/academy/views/model.create.form.html'"></div>
    </md-tab>
</md-tabs>



