<div layout="row">
    <div ng-include="'app/admin//academy/views/left.menu.html'"></div>
    <div>
        <div class=" md-long-text" ng-repeat="order in vm.orders" >

            <div class="md-list-item-text" ng-class="{'not-answered':!order.answered}">
                <h3>{{order.event_name }}</h3>
                <span ng-repeat="date in order.event_dates track by $index"> {{ date| date:'dd.MM.yyyy'}}, </span>

                <p>
                    <span ng-if="order.name"><b>name:</b> {{order.name}}</span>
                    <span ng-if="order.phone"><b>phone: </b>{{order.phone}}</span>
                    <span ng-if="order.email"><b>email</b>: <a href="mailto:{{order.email}}">{{order.email}}</a></span>
                </p>
                <md-button class="  md-raised" ng-click="vm.deleteOrder(order)">Видалити</md-button>
                <md-button ng-show="!order.answered" class="  md-raised" ng-click="vm.answerOrder(order)">Відповіли
                </md-button>
            </div>
        </div>
    </div>

</div>