<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools md-padding " style="color:white;">
        <h2 class=" md-padding ">Додати салон-клієнт</h2>
        <span flex></span>
    </div>
</md-toolbar>
<form name="newSalonModelForm" class="md-padding " novalidate ng-submit="vm.createSalon(newSalonModelForm, vm.newSalonModel)">
    <md-content>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
            <label for="name">Назва салону</label>
            <input id="name" ng-model="vm.newSalonModel.name" type="text" name="name">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
            <label for="email">email</label>
            <input id="email" ng-model="vm.newSalonModel.email" type="text" name="email">
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-icon="communication:ic_phonelink_ring_24px"></md-icon>
            <label for="phone">Телефон</label>
            <input id="phone" ng-model="vm.newSalonModel.phone" type="text" name="phone">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="address">Адреса</label>
            <input id="address" ng-model="vm.newSalonModel.address" type="text" name="address">
        </md-input-container>
    </md-content>
    <div layout="row" md-whiteframe="4">
        <md-button class="md-raised md-primary" ng-click="vm.showSalonCreateForm = false">Скасувати</md-button>
        <md-button type="submit" class="md-raised md-accent">Зберегти</md-button>
    </div>
</form>

